<div class="container-fluid form_dossier_modify">
    <div class="row">

        <div class="col-sm-10 col-sm-offset-1">

            <h3 class=" text-justify text-uppercase identification">Identification</h3>


            <p></p>




            <div class="row">
                <div class="col-sm-4 " style="padding-left:0px;">

<div class="panel panel-primary text-justify">
    <div class="panel-heading">
        <h3 class="panel-title">DOSSIER</h3>
    </div>
    <div class="panel-body box">

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>ID</strong></p>
            </div>
            <div class="col-sm-8 "> {{this._parent.dossier.ID}}
                <!--<input type="text"  [(ngModel)]="dossier.ID"/>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>Code</strong></p>
            </div>
            <div class="col-sm-8 ">
                <input id="dossier_code" (blur)="this._parent.validateCode('m',$event.target.value)" class="m" #dossier_code="ngModel" required
                    maxlength="50" type="text" [(ngModel)]="this._parent.dossier.CODE" />
                <div *ngIf="dossier_code.errors" class=" alert-danger">
                    <div [hidden]="!dossier_code.errors.required"><span class="glyphicon glyphicon-remove-circle"></span> Le code doit &ecirc;tre indiqu&eacute;.</div>
                    <div [hidden]="!dossier_code.errors.maxlength"><span class="glyphicon glyphicon-remove-circle"></span> Le code ne peut contenir plus de 50 caractères.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>Num&eacute;ro</strong></p>
            </div>
            <div class="col-sm-8 ">
                <input id="dossier_numero{{suffix}}" #dossier_numero="ngModel" maxlength="13" type="text" [(ngModel)]="this._parent.dossier.NUMERO"
                />
                <div *ngIf="dossier_numero.errors" class=" alert-danger">
                    <div [hidden]="!dossier_numero.errors.maxlength"><span class="glyphicon glyphicon-remove-circle"></span> Le num&eacute;ro ne peut contenir plus de 13
                        caractères.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>Type</strong></p>
            </div>
            <div class="col-sm-8 ">


                <select [(ngModel)]="this._parent.dossier.TYPE_ID">
                              <option [value]=""></option>
                            <option *ngFor="let  item_type of _parent.listType.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
                        </select>

                <!--<p>{{dossier.TYPE}}</p>-->
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Comptabilis&eacute;</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>
                    <input name="COMPTABILISE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.COMPTABILISE" [value]="-1">Oui
                    &nbsp;
                    <input name="COMPTABILISE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.COMPTABILISE" [value]="0">Non
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Mis &agrave; jour</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>
                    <input name="MISE_A_JOUR{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.DONE" [value]="-1">Oui
                    &nbsp;
                    <input name="MISE_A_JOUR{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.DONE" [value]="0">Non
                </p>


            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Dossier actif</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>
                    <input name="MANDAT_ACTIF{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.MANDAT_ACTIF" [value]="-1">Oui
                    &nbsp;
                    <input name="MANDAT_ACTIF{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.MANDAT_ACTIF" [value]="0">Non
                </p>

            </div>
        </div>



    </div>
</div>
</div>

<div class="col-sm-4 ">

    <div class="panel panel-primary text-justify">
        <div class="panel-heading">
            <h3 class="panel-title">IMMEUBLE</h3>
        </div>
        <div class="panel-body box">

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Nom</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <input type="text" [(ngModel)]="this._parent.dossier.NOM" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Cat&eacute;gorie</strong></p>
                </div>
                <div class="col-sm-8 ">

                    <select id="dossier_categorie" #dossier_categorie="ngModel" required [(ngModel)]="this._parent.dossier.CAT_ID">
                             <option [value]=""></option> 
                            <option *ngFor="let  item_cat of _parent.listCategorie.items" [value]="item_cat.ID">{{item_cat.VALUE}}</option>
                        </select>

                    <div *ngIf="dossier_categorie.errors" class=" alert-danger">
                        <div [hidden]="!dossier_categorie.errors.required"><span class="glyphicon glyphicon-remove-circle"></span> La cat&eacute;gorie doit &ecirc;tre indiqu&eacute;e.</div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Arrondissement</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <select id="dossier_arrondissement" #dossier_arrondissement="ngModel" required [(ngModel)]="this._parent.dossier.ARR_ID">
                             <option [value]=""></option> 
                            <option *ngFor="let  item_arr of _parent.listArrondissement.items" [value]="item_arr.ID">{{item_arr.VALUE}}</option>
                        </select>

                    <div *ngIf="dossier_arrondissement.errors" class=" alert-danger">
                        <div [hidden]="!dossier_arrondissement.errors.required"><span class="glyphicon glyphicon-remove-circle"></span> L'arrondissement doit &ecirc;tre indiqu&eacute;.</div>

                    </div>




                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Photos</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <p>Non
                        <a href="#" style="float:right;cursor:pointer;"> <span class="glyphicon glyphicon-camera"></span></a>
</p>
</div>
</div>

<div class="row">
    <div class="col-sm-4 ">
        <p><strong>Plan</strong></p>
    </div>
    <div class="col-sm-8 ">
        <p>Non
            <a href="#" style="float:right;cursor:pointer;"><span class="glyphicon glyphicon-picture"></span></a>
</p>
</div>
</div>




</div>
</div>
</div>

<div class="col-sm-4" style="padding-right: 0px;">

<div class="panel panel-primary text-justify">
    <div class="panel-heading">
        <h3 class="panel-title">DIVERS</h3>
    </div>
    <div class="panel-body box">

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Cadastre</strong></p>
            </div>
            <div class="col-sm-6 ">
                <select [(ngModel)]="this._parent.dossier.CAD_ID">
                             <option [value]=""></option>  
                            <option *ngFor="let  item_cad of _parent.listCadastre.items" [value]="item_cad.ID">{{item_cad.VALUE}}</option>
                        </select>



            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Eco-territoire</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>
                    <input name="ECO_TERRITOIRE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.ECO_TERRITOIRE"
                        [value]="-1">Oui &nbsp;
                    <input name="ECO_TERRITOIRE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.dossier.ECO_TERRITOIRE"
                        [value]="0">Non
                </p>

                <!--<input  [(ngModel)]="dossier.DESC_ECO_TERR"/>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Desc. Eco-territoire</strong></p>
            </div>
            <div class="col-sm-6 ">

                <select [(ngModel)]="this._parent.dossier.DESCRIPTION_ECO_TERRITOIRE">
                            <option [value]=""></option>
                            <option *ngFor="let  item_type of _parent.listEcoterritoires.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
                        </select>



            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Comp&eacute;tence</strong></p>
            </div>
            <div class="col-sm-6 ">
                <select [(ngModel)]="this._parent.dossier.COMPETENCE">
                                <option [value]=""></option>
                                <option *ngFor="let  item_type of _parent.listCompetence.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
                            </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Projet 15000 logements</strong></p>
            </div>
            <div class="col-sm-6 ">

                <select [(ngModel)]="this._parent.dossier.PROJET_1500_LOGEMENTS">
                                <option [value]=""></option>
                                <option *ngFor="let  item_type of _parent.listOLogements.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
                         </select>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Liste des mandats actifs</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>
                    <a href="#" style="float:right;cursor:pointer;"><span class="glyphicon glyphicon-search"></span></a>
</p>
</div>
</div>




</div>
</div>
</div>






<!-- LOCALISATION -->

<div class="row text-justify">
    <div class="col-sm-12">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary addresses">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <!--<a (click)="_parent.syncAddresses()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_m" aria-expanded="false" aria-controls="collapseOne_m">-->
                        <a (click)="_parent.syncAddresses()" role="button">
                    Localisations et Adresses   <span style="    line-height: 15px;font-weight: lighter;font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span>
</a>
</h4>
</div>
<div id="collapseOne{{suffix}}" class="panel-collapse addresses collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body  ">

        <p><strong>Localisation</strong></p>
        <p><input type="text" [(ngModel)]="this._parent.dossier.LOCALISATION" /> </p>

        <p><strong>Localisation (Rues)</strong> &nbsp; <a style="cursor:pointer;font-weight:bolder;" (click)="this._parent.addLocalisation()"><span class="glyphicon glyphicon-plus"></span></a>
</p>
<div class="table-responsive" style="overflow: visible;" [hidden]="!(_parent.localisations.length > 0)">
<table class="table">
    <thead>
        <tr>
            <th>Num&eacute;ro de la voie</th>
            <th>Rue</th>
            <th>Orientation</th>
            <th>Ville</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let localisation of _parent.localisations ; let i = index;">

            <!--<td><input   type="text" maxlength="5" [(ngModel)]="this._parent.localisations[i].NO_VOIE"/></td> -->
            <td><input auto-complete (blur)="this._parent.allowAutocomplete2Delete()" [source]="this._parent.availableRire" accept-user-input="false"
                    loading-text="Chargement en cours" type="text" maxlength="5" (valueChanged)="this._parent.rireAutocompleteLocalisationChange($event,this._parent.localisations[i])"
                    [(ngModel)]="this._parent.localisations[i].NO_VOIE" /></td>
            <td><input type="text" disabled [(ngModel)]="this._parent.localisations[i].NOM_VOIE_LONG" /></td>
            <td><input type="text" disabled [(ngModel)]="this._parent.localisations[i].ORIENT_NO_CIVIQ" /></td>
            <td><input type="text" disabled [(ngModel)]="this._parent.localisations[i].VILLE" /></td>

            <td>
                <a style="cursor:pointer;" (click)="this._parent.delLocalisation(i,this._parent.localisations[i].LOCALISATION_ID )"><span style="color:darkred;" class="glyphicon glyphicon-minus"></span>
</a>
</td>
</tr>

</tbody>
</table>
</div>

<p><strong>Addresses</strong> &nbsp; <a style="cursor:pointer;font-weight:bolder;" (click)="this._parent.addAddress()"><span class="glyphicon glyphicon-plus"></span></a>
</p>

<div class="table-responsive" style="overflow: visible;" [hidden]="!(_parent.addresses.length > 0)">
<table class="table">
    <thead>
        <tr>
            <th>No. Ouvrage</th>
            <th>Principal</th>
            <th>No. Civique</th>
            <th>No. Voie</th>
            <th>Rue</th>
            <th>Ancienne Rue</th>
            <th>Orientation</th>
            <th>Ville</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let address of _parent.addresses ; let i = index;">
            <td><input type="text" maxlength="4" [(ngModel)]="this._parent.addresses[i].NOOUVRAGE" /></td>
            <td><input type="radio" (change)="_parent.updatePrincipalAddress(this._parent.addresses[i].ADR_ID)" [(ngModel)]="this._parent.address_principal"
                    name="principal{{suffix}}" [value]="this._parent.addresses[i].ADR_ID"> </td>
            <td><input type="text" maxlength="15" [(ngModel)]="this._parent.addresses[i].NOCIVIQUE" /></td>
            <td><input auto-complete (blur)="this._parent.allowAutocomplete2Delete()" [source]="this._parent.availableRire" accept-user-input="false"
                    loading-text="Chargement en cours" type="text" maxlength="5" (valueChanged)="this._parent.rireAutocompleteAddressChange($event,this._parent.addresses[i])"
                    [(ngModel)]="this._parent.addresses[i].NO_VOIE" /></td>

            <!--<td><input   type="text" maxlength="5" [(ngModel)]="this._parent.addresses[i].NO_VOIE"/></td>-->

            <td><input type="text" disabled [(ngModel)]="this._parent.addresses[i].NOM_VOIE_LONG" /></td>
            <td><input type="text" disabled [(ngModel)]="this._parent.addresses[i].ANCIENNE_RUE" /></td>
            <td><input type="text" disabled [(ngModel)]="this._parent.addresses[i].ORIENT_NO_CIVIQ" /></td>
            <td><input type="text" disabled [(ngModel)]="this._parent.addresses[i].VILLE" /></td>
            <td>
                <a style="cursor:pointer;" (click)="this._parent.delAddress(i,this._parent.addresses[i].ADR_ID )"><span style="color:darkred;" class="glyphicon glyphicon-minus"></span>
</a>
</td>
</tr>

</tbody>
</table>
</div>


</div>
</div>
</div>

</div>
</div>
</div>
<!-- LOCALISATION -->







<!-- TABS -->
<div class="row">
    <div class="col-sm-12">

        <div class="" data-example-id="togglable-tabs">


            <ul class="nav nav-tabs dossier_tabs" id="myTabs" role="tablist">
                <!--
     <li  class="active">
    <a href="#enquete_dimmensions_m" role="tab" id="enquete_dimmensions_m-tab" data-toggle="tab" aria-controls="enquete_dimmensions_m" aria-expanded="true">
    Enqu&ecirc;te</a>
    </li>
-->
                <li class="dropdown active enquete">
                    <a  href="#" class="dropdown-toggle" id="enqueteTabDrop_m" data-toggle="dropdown" aria-controls="enqueteTabDrop_m-contents">
        Enqu&ecirc;te <span class="caret">
        </span>
        </a>

                    <ul class="dropdown-menu" aria-labelledby="enqueteTabDrop_m" id="enqueteTabDrop_m-contents">
                        <li class="">
                            <a (click)="this._parent.syncOnglets('enquete_dimmensions','enquete')" href="#enquete_dimmensions_m" role="tab" id="enquete_dimmensions_m-tab"
                                data-toggle="tab" aria-controls="enquete_dimmensions_m" aria-expanded="true">
            Dimmensions du terrain</a>
                        </li>
                        <li class="">
                            <a (click)="this._parent.syncOnglets('enquete_observations','enquete')" href="#enquete_observations_m" role="tab" id="enquete_observations_m-tab"
                                data-toggle="tab" aria-controls="enquete_observations_m" aria-expanded="false">
            Observations</a>
                        </li>
                        <li class="">
                            <a (click)="this._parent.syncOnglets('enquete_remarque','enquete')" href="#enquete_remarque_m" role="tab" id="enquete_remarque_m-tab"
                                data-toggle="tab" aria-controls="enquete_remarque_m" aria-expanded="false">
            Remarque g&eacute;n&eacute;ral</a>
                        </li>
                    </ul>
                </li>



                <li class="dropdown qualification">
                    <a href="#" class="dropdown-toggle" id="qualificationTabDrop_m" data-toggle="dropdown" aria-controls="qualificationTabDrop_m-contents"
                        aria-expanded="false">
        Qualification terrain <span class="caret">
        </span>
        </a>

                    <ul class="dropdown-menu" aria-labelledby="qualificationTabDrop_m" id="qualificationTabDrop_m-contents">
                        <li class="">
                            <a (click)="this._parent.syncOnglets('qualification_releve','qualification')" href="#qualification_releve_m" role="tab" id="qualification_releve_m-tab"
                                data-toggle="tab" aria-controls="qualification_releve_m" aria-expanded="false">
             Relev&eacute; Visuel, Descriptions & Qualification</a>
                        </li>

                        <li class="">
                            <a (click)="this._parent.syncOnglets('qualification_resume','qualification')" href="#qualification_resume_m" role="tab" id="qualification_resume_m-tab"
                                data-toggle="tab" aria-controls="qualification_resume_m" aria-expanded="false">
            R&eacute;sum&eacute;</a>
                        </li>
                    </ul>
                </li>


                <li class="dropdown fiche">
                    <a   href="#" class="dropdown-toggle" id="ficheTabDrop_m" data-toggle="dropdown" aria-controls="ficheTabDrop_m-contents" aria-expanded="false">
        Fiche qualificative <span class="caret">
        </span>
        </a>

                    <ul class="dropdown-menu" aria-labelledby="ficheTabDrop_m" id="ficheTabDrop_m-contents">
                        <li class="">
                            <a (click)="this._parent.syncOnglets('fiche_caracteristiques','fiche')" href="#fiche_caracteristiques_m" role="tab" id="fiche_caracteristiques_m-tab"
                                data-toggle="tab" aria-controls="fiche_caracteristiques_m" aria-expanded="false">
            Caract&eacute;ristiques sp&eacute;cifiques</a>
                        </li>
                        <li class="">
                            <a (click)="this._parent.syncOnglets('fiche_normes','fiche')" href="#fiche_normes_m" role="tab" id="fiche_normes_m-tab" data-toggle="tab"
                                aria-controls="fiche_normes_m" aria-expanded="false">
            Normes r&eacute;glementaires</a>
                        </li>
                        <li class="">
                            <a (click)="this._parent.syncOnglets('fiche_milieu','fiche')" href="#fiche_milieu_m" role="tab" id="fiche_milieu_m-tab" data-toggle="tab"
                                aria-controls="fiche_milieu_m" aria-expanded="false">
            Caract&eacute;ristiques milieu environement</a>
                        </li>
                        <li class="">
                            <a (click)="this._parent.syncOnglets('fiche_conclusion','fiche')" href="#fiche_conclusion_m" role="tab" id="fiche_conclusion_m-tab"
                                data-toggle="tab" aria-controls="fiche_conclusion_m" aria-expanded="false">
            Conclusion d'analyse</a>
                        </li>
                    </ul>
                </li>
                <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" id="transactionsTabDrop" data-toggle="dropdown" aria-controls="transactionsTabDrop-contents" aria-expanded="false">
        Transactions <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="transactionsTabDrop" id="transactionsTabDrop-contents">
            <li class="">
            <a href="#transactions_resume" role="tab" id="transactions_resume-tab" data-toggle="tab" aria-controls="transactions_resume" aria-expanded="false">
            R&eacute;sum&eacute; des transactions</a>
            </li>
            <li class="">
            <a href="#transactions_details" role="tab" id="transactions_details-tab" data-toggle="tab" aria-controls="transactions_details" aria-expanded="false">
            D&eacute;tails des transactions</a>
            </li>
        </ul>
    </li>  
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="lotsTabDrop" data-toggle="dropdown" aria-controls="lotsTabDrop-contents" aria-expanded="false">
        Fiche qualificative <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="lotsTabDrop" id="lotsTabDrop-contents">
            <li class="">
            <a href="#lots_evaluation" role="tab" id="lots_evaluation-tab" data-toggle="tab" aria-controls="lots_evaluation" aria-expanded="false">
            &Eacute;valuation fonci&egrave;re</a>
            </li>
            <li class="">
            <a href="#lots_reglementation" role="tab" id="lots_reglementation-tab" data-toggle="tab" aria-controls="lots_reglementation" aria-expanded="false">
            R&eacute;glementation</a>
            </li>
            <li class="">
            <a href="#lots_renoves" role="tab" id="lots_renoves-tab" data-toggle="tab" aria-controls="lots_renoves" aria-expanded="false">
            Lots r&eacute;nov&eacute;s</a>
            </li>
            <li class="">
            <a href="#lots_anciens" role="tab" id="lots_anciens-tab" data-toggle="tab" aria-controls="lots_anciens" aria-expanded="false">
            Anciens Lots</a>
            </li>
        </ul>
    </li>  
 <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="observationsTabDrop" data-toggle="dropdown" aria-controls="observationsTabDrop-contents" aria-expanded="false">
        Observations d'enqu&ecirc;te <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="observationsTabDrop" id="observationsTabDrop-contents">
            <li class="">
            <a href="#observations_commentaires" role="tab" id="observations_commentaires-tab" data-toggle="tab" aria-controls="observations_commentaires" aria-expanded="false">
            Commentaires</a>
            </li>
            <li class="">
            <a href="#observations_photos" role="tab" id="observations_photos-tab" data-toggle="tab" aria-controls="observations_photos" aria-expanded="false">
            Photos</a>
            </li>
        </ul>
    </li> 

 -->

            </ul>







            <div class="tab-content" id="myTabContent" style="height: 250px;overflow: scroll;">


<!--ENQUETE-->
<div class="tab-pane fade  active in" role="tabpanel" id="enquete_dimmensions_m" aria-labelledby="enquete-dimmensions-tab">

    <h3 class="text-center">DIMENSIONS DU TERRAIN</h3>



    <div class="row">
        <div class="col-sm-6  col-sm-offset-3 ">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Frontage</th>
                        <th>Profondeur</th>
                        <th>Superficie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Imp&eacute;rial</th>
                        <td><input type="text" [(ngModel)]="this._parent.dossier.FACADE" /> </td>
                        <td><input type="text" [(ngModel)]="this._parent.dossier.PROFONDEUR" /></td>
                        <td><input type="text" [(ngModel)]="this._parent.dossier.SUPERFICIE" /></td>
                    </tr>
                    <tr>
                        <th scope="row">M&eacute;trique</th>
                        <td><input type="text" [(ngModel)]="this._parent.dossier.FACADEM" /></td>
                        <td><input type="text" [(ngModel)]="this._parent.dossier.PROFONDEURM" /></td>
                        <td><input type="text" [(ngModel)]="this._parent.dossier.SUPERFICIEM" /></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<div class="tab-pane fade" role="tabpanel" id="enquete_observations_m" aria-labelledby="enquete-observations-tab">
    <h5>VOCATION OBSERV&Eacute;E</h5>
    <textarea rows="4" [(ngModel)]="this._parent.dossier.VOCATION" style="width:100%; padding:5px;">
</textarea>


<h5>OBSERVATIONS D'ENQU&Ecirc;TE</h5>
<textarea [(ngModel)]="this._parent.dossier.VISITENOTE" rows="4" style="width:100%; padding:5px;">
</textarea>
</div>

<div class="tab-pane fade" role="tabpanel" id="enquete_remarque_m" aria-labelledby="enquete-remarque-tab">
    <h5>REMARQUE G&Eacute;N&Eacute;RAL</h5>
    <textarea [(ngModel)]="this._parent.dossier.REMARQUE" rows="4" style="width:100%;height:80%; padding:5px;">

</textarea>
</div>


<!--QUALIFICAITONS-->
<div class="tab-pane fade" role="tabpanel" id="qualification_releve_m" aria-labelledby="qualification_releve_m-tab">
    <h5>Relev&eacute; Visuel, Descriptions & Qualification</h5>
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-sm-4  ">
            <p><strong>&Eacute;gout</strong>&nbsp;
                <span style="float:right;padding-right:50px;">
<input name="EGOUT{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.EGOUT" [value]="-1">Oui
&nbsp;
<input name="EGOUT{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.EGOUT" [value]="0">Non
</span>
</p>
<p><strong>Aqueduc</strong>&nbsp;<span style="float:right;padding-right:50px;">

<input name="AQUEDUC{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.AQUEDUC"
    [value]="-1">Oui &nbsp;
<input name="AQUEDUC{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.AQUEDUC"
    [value]="0">Non
</span>
</p>
<p><strong>&Eacute;lectricit&eacute; a&eacute;rienne</strong>&nbsp;<span style="float:right;padding-right:50px;">
<input name="ELECTRICITEAE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.ELECTRICITEAE"
    [value]="-1">Oui &nbsp;
<input name="ELECTRICITEAE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.ELECTRICITEAE"
    [value]="0">Non
</span>
</p>
<p><strong>&Eacute;lectricit&eacute;</strong>&nbsp;<span style="float:right;padding-right:50px;">
<input name="ELECTRICITEST{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.ELECTRICITEST"
    [value]="-1">Oui &nbsp;
<input name="ELECTRICITEST{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.ELECTRICITEST"
    [value]="0">Non
</span>
</p>
<p><strong>Rue asphalt&eacute;e</strong>&nbsp;<span style="float:right;padding-right:50px;">

<input name="RUEASPHALTEE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.RUEASPHALTEE"
    [value]="-1">Oui &nbsp;
<input name="RUEASPHALTEE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.RUEASPHALTEE"
    [value]="0">Non
</span>
</p>
</div>

<div class="col-sm-4  ">
    <p><strong>Trottoir</strong>&nbsp;<span style="float:right;padding-right:50px;">

<input name="TROTTOIR{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.TROTTOIR"
    [value]="-1">Oui &nbsp;
<input name="TROTTOIR{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.TROTTOIR"
    [value]="0">Non
</span>
</p>
<p><strong>Servitude</strong>&nbsp;<span style="float:right;padding-right:50px;">
<input name="SERVITUDE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.SERVITUDE"
    [value]="-1">Oui &nbsp;
<input name="SERVITUDE{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.SERVITUDE"
    [value]="0">Non
</span>
</p>
<p><strong>Services à proximité</strong>&nbsp;<span style="float:right;padding-right:50px;">
<input name="PROXSERVICES{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.PROXSERVICES"
    [value]="-1">Oui &nbsp;
<input name="PROXSERVICES{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.PROXSERVICES"
    [value]="0">Non

</span>
</p>
<p><strong>Contamination</strong>&nbsp;<span style="float:right;padding-right:50px;">
<input name="CONTAMINATION{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.CONTAMINATION"
    [value]="-1">Oui &nbsp;
<input name="CONTAMINATION{{suffix}}" ng-control="options" type="radio" [(ngModel)]="this._parent.qualificationTerrain.CONTAMINATION"
    [value]="0">Non
</span>
</p>
</div>

<div class="col-sm-4  ">

    <p><strong>Topographie</strong> &nbsp;
        <select style="float:right;width:50%;" [(ngModel)]="this._parent.qualificationTerrain.TOPOGRAPHIE">
<option *ngFor="let  item_type of _parent.listeTopographie.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
</select>
</p>

<p><strong>Secteur</strong> &nbsp;
    <select style="float:right;width:50%;" [(ngModel)]="this._parent.qualificationTerrain.DESCDESECTEUR">
<option *ngFor="let  item_type of _parent.listeDescSecteur.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
</select>
</p>
<p>
    <strong>Description du secteur</strong> &nbsp;
    <input style="float:right;width:50%;" type="text" [(ngModel)]="this._parent.qualificationTerrain.DESCDESECTEURTEXT"/>
</p>

<p><strong>Plan d'action</strong> &nbsp;
    <select style="float:right;width:50%;" [(ngModel)]="this._parent.qualificationTerrain.PLANDACTION">
<option *ngFor="let  item_type of _parent.listePlanAction.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
</select>
</p>

<p><strong>Qualification</strong> &nbsp;
    <select style="float:right;width:50%;" [(ngModel)]="this._parent.qualificationTerrain.DEVELOPPABLE">
<option *ngFor="let  item_type of _parent.listeDevelop.items" [value]="item_type.ID">{{item_type.VALUE}}</option>
</select>
</p>







</div>



</div>





</div>

<div class="tab-pane fade" role="tabpanel" id="qualification_descriptions_m" aria-labelledby="qualification_descriptions_m-tab">

</div>

<div class="tab-pane fade" role="tabpanel" id="qualification_resume_m" aria-labelledby="qualification_resume_m-tab">
    <h5> R&eacute;sum&eacute;</h5>
    <textarea [(ngModel)]="this._parent.qualificationTerrain.COMMENTAIRE" rows="12" style="width:100%; padding:5px;">
</textarea>
</div>



<!--FICHE-->
<div class="tab-pane fade" role="tabpanel" id="fiche_caracteristiques_m" aria-labelledby="fiche_caracteristiques_m-tab">
    <p>Caractéristiques spécifiques</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="fiche_normes_m" aria-labelledby="fiche_normes_m-tab">
    <p>Normes réglementaires</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="fiche_milieu_m" aria-labelledby="fiche_milieu_m-tab">
    <p>Caractéristiques milieu environement</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="fiche_conclusion_m" aria-labelledby="fiche_conclusion_m-tab">
    <p>Conclusion d'analyze</p>
</div>





<!--TRANSACTIONS-->
<div class="tab-pane fade" role="tabpanel" id="transactions_resume" aria-labelledby="transactions_resume-tab">
    <p>Résumé des transactions</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="transactions_details" aria-labelledby="transactions_details-tab">
    <p>Détails des transactions</p>
</div>




<!--LOTS-->
<div class="tab-pane fade" role="tabpanel" id="lots_evaluation" aria-labelledby="lots_evaluation-tab">
    <p>Évaluation foncière</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="lots_reglementation" aria-labelledby="lots_reglementation-tab">
    <p>Réglementations</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="lots_renoves" aria-labelledby="lots_renoves-tab">
    <p>Lots rénovés</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="lots_anciens" aria-labelledby="lots_anciens-tab">
    <p>Anciens Lots</p>
</div>




<!--OBSERVATIONS-->
<div class="tab-pane fade" role="tabpanel" id="observations_commentaires" aria-labelledby="observations_commentaires-tab">
    <p>Commentaires</p>
</div>
<div class="tab-pane fade" role="tabpanel" id="observations_photos" aria-labelledby="observations_photos-tab">
    <p>Photos</p>
</div>



</div>
</div>


</div>
</div>
<!--row-->




</div>
<!--container-->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">




        </div>
    </div>
</div>




</div>