<dossier-empty [hidden]="!showEmpty">

</dossier-empty>
<dossier-modify #modify_dossier_component [hidden]="!showModify"></dossier-modify>




<div [hidden]="!showView">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">

                <h3 class=" text-justify text-uppercase identification">Identification</h3>


                <p></p>


                <div class="row">
                    <div class="col-sm-4 " style="padding-left:0px;">

<div class="panel panel-primary text-justify">
    <div class="panel-heading">
        <h3 class="panel-title">DOSSIER</h3>
    </div>
    <div class="panel-body box">

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>ID</strong></p>
            </div>
            <div class="col-sm-8 ">
                <p>{{dossier.ID}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>Code</strong></p>
            </div>
            <div class="col-sm-8 ">
                <p>{{dossier.CODE}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>Num&eacute;ro</strong></p>
            </div>
            <div class="col-sm-8 ">
                <p>{{dossier.NUMERO}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <p><strong>Type</strong></p>
            </div>
            <div class="col-sm-8 ">
                <p>{{dossier.TYPE}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Comptabilis&eacute;</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.DESC_COMPTABILISE}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Mis &agrave; jour</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.MISE_A_JOUR}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Dossier actif</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.DESC_MANDAT_ACTIF}}</p>
            </div>
        </div>



    </div>
</div>
</div>

<div class="col-sm-4 ">

    <div class="panel panel-primary text-justify">
        <div class="panel-heading">
            <h3 class="panel-title">IMMEUBLE</h3>
        </div>
        <div class="panel-body box">

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Nom</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <p>{{dossier.NOM}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Cat&eacute;gorie</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <p>{{dossier.CATEGORIE}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Arrondissement</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <p>{{dossier.ARRONDISSEMENT}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 ">
                    <p><strong>Photos</strong></p>
                </div>
                <div class="col-sm-8 ">
                    <p>Non
                        <a href="#" style="float:right;cursor:pointer;"> <span class="glyphicon glyphicon-camera"></span></a>
</p>
</div>
</div>

<div class="row">
    <div class="col-sm-4 ">
        <p><strong>Plan</strong></p>
    </div>
    <div class="col-sm-8 ">
        <p>Non
            <a href="#" style="float:right;cursor:pointer;"><span class="glyphicon glyphicon-picture"></span></a>
</p>
</div>
</div>




</div>
</div>
</div>

<div class="col-sm-4" style="padding-right: 0px;">

<div class="panel panel-primary text-justify">
    <div class="panel-heading">
        <h3 class="panel-title">DIVERS</h3>
    </div>
    <div class="panel-body box">

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Cadastre</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.CADASTRE}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Eco-territoire</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.DESC_ECO_TERR}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Desc. Eco-territoire</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.DESC_ECO_TERRITOIRE}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Comp&eacute;tence</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.DESC_COMPETENCE}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Projet 15000 logements</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>{{dossier.DESC_OPERATION_LOGEMENT}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <p><strong>Liste des mandats actifs</strong></p>
            </div>
            <div class="col-sm-6 ">
                <p>
                    <a href="#" style="float:right;cursor:pointer;"><span class="glyphicon glyphicon-search"></span></a>
</p>
</div>
</div>




</div>
</div>
</div>




<!-- LOCALISATION -->

<div class="row text-justify">
    <div class="col-sm-12">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary addresses">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <!--<a (click)="syncAddresses()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">-->
                        <a (click)="syncAddresses()" role="button">
                    Localisations et Adresses   <span style="    line-height: 15px;font-weight: lighter;font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span>
</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse addresses collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body  ">

        <p [hidden]="(this.dossier.LOCALISATION === undefined || this.dossier.LOCALISATION === null)"><strong>Localisation</strong> {{dossier.LOCALISATION}}</p>

        <div [hidden]="!(localisations.length > 0)">
            <p><strong>Localisation (Rues)</strong>
                <div class="table-responsive" [hidden]="!(localisations.length > 0)">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Num&eacute;ro de la voie</th>
                                <th>Rue</th>
                                <th>Orientation</th>
                                <th>Ville</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let localisation of localisations ; let i = index;">

                                <td>{{this.localisations[i].NO_VOIE}}</td>
                                <td>{{this.localisations[i].NOM_VOIE_LONG}}</td>
                                <td>{{this.localisations[i].ORIENT_NO_CIVIQ}}</td>
                                <td>{{this.listVilles.getValue(localisation.CODE_VILLE)}}</td>


                            </tr>

                        </tbody>
                    </table>
                </div>
        </div>

        <div [hidden]="!(addresses.length > 0)">
            <p><strong>Addresses</strong></p>
            <!--    
                    <ul style="list-style:none;">
                        <li *ngFor="let address of addresses" >
                            <span class="stronger {{address.DESC_ADR_PRINC}}">
                                {{address.DESC_ADR}}
                            </span>
                        </li>
                    </ul>
                    -->

            <div class="table-responsive ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No. Ouvrage</th>
                            <th>Principal</th>
                            <th>No. Civique</th>
                            <th>No. Voie</th>
                            <th>Rue</th>
                            <th>Ancienne Rue</th>
                            <th>Orientation</th>
                            <th>Ville</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let address of addresses ; let i = index;">
                            <td>{{this.addresses[i].NOOUVRAGE}}</td>
                            <td>{{this.addresses[i].DESC_ADR_PRINC}} </td>
                            <td>{{this.addresses[i].NOCIVIQUE}}</td>
                            <td>{{this.addresses[i].NO_VOIE}}</td>
                            <td>{{this.addresses[i].NOM_VOIE_LONG}}</td>
                            <td>{{this.addresses[i].RUE}}</td>
                            <td>{{this.addresses[i].ORIENT_NO_CIVIQ}}</td>
                            <td>{{this.listVilles.getValue(address.CODE_VILLE)}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>

</div>
</div>
</div>
<!-- LOCALISATION -->




















<!-- TABS -->
<div class="row">
    <div class="col-sm-12">

        <div class="" data-example-id="togglable-tabs">


            <ul class="nav nav-tabs dossier_tabs" id="myTabs" role="tablist">
                <!--
     <li  class="active">
    <a href="#enquete_dimmensions" role="tab" id="enquete_dimmensions-tab" data-toggle="tab" aria-controls="enquete_dimmensions" aria-expanded="true">
    Enqu&ecirc;te</a>
    </li>
-->
                <li class="dropdown enquete active">
                    <a href="#" class="dropdown-toggle" id="enqueteTabDrop" data-toggle="dropdown" aria-controls="enqueteTabDrop-contents">
        Enqu&ecirc;te <span class="caret">
        </span>
        </a>

                    <ul class="dropdown-menu" aria-labelledby="enqueteTabDrop" id="enqueteTabDrop-contents">
                        <li class="">
                            <a (click)="syncOnglets('enquete_dimmensions','enquete')" href="#enquete_dimmensions" role="tab" id="enquete_dimmensions-tab"
                                data-toggle="tab" aria-controls="enquete_dimmensions" aria-expanded="true">
            Dimmensions du terrain</a>
                        </li>
                        <li class="">
                            <a (click)="syncOnglets('enquete_observations','enquete')" href="#enquete_observations" role="tab" id="enquete_observations-tab"
                                data-toggle="tab" aria-controls="enquete_observations" aria-expanded="false">
            Observations</a>
                        </li>
                        <li class="">
                            <a (click)="syncOnglets('enquete_remarque','enquete')" href="#enquete_remarque" role="tab" id="enquete_remarque-tab" data-toggle="tab"
                                aria-controls="enquete_remarque" aria-expanded="false">
            Remarque g&eacute;n&eacute;ral</a>
                        </li>
                    </ul>
                </li>



                <li class="dropdown qualification">
                    <a href="#" class="dropdown-toggle" id="qualificationTabDrop" data-toggle="dropdown" aria-controls="qualificationTabDrop-contents"
                        aria-expanded="false">
        Qualification terrain <span class="caret">
        </span>
        </a>

                    <ul class="dropdown-menu" aria-labelledby="qualificationTabDrop" id="qualificationTabDrop-contents">
                        <li class="">
                            <a (click)="syncOnglets('qualification_releve','qualification')" href="#qualification_releve" role="tab" id="qualification_releve-tab"
                                data-toggle="tab" aria-controls="qualification_releve" aria-expanded="false">
            Relev&eacute; Visuel, Descriptions & Qualification</a>
                        </li>
                        <!--<li class="">
            <a href="#qualification_descriptions" role="tab" id="qualification_descriptions-tab" data-toggle="tab" aria-controls="qualification_descriptions" aria-expanded="false">
            Descriptions</a>
            </li>-->
                        <li class="">
                            <a (click)="syncOnglets('qualification_resume','qualification')" href="#qualification_resume" role="tab" id="qualification_resume-tab"
                                data-toggle="tab" aria-controls="qualification_resume" aria-expanded="false">
            R&eacute;sum&eacute;</a>
                        </li>
                    </ul>
                </li>

                <!--
    <li class="dropdown fiche">
        <a  href="#" class="dropdown-toggle" id="ficheTabDrop" data-toggle="dropdown" aria-controls="ficheTabDrop-contents" aria-expanded="false">
        Fiche qualificative <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="ficheTabDrop" id="ficheTabDrop-contents">
            <li class="">
            <a (click)="this.syncOnglets('fiche_caracteristiques','fiche')" href="#fiche_caracteristiques" role="tab" id="fiche_caracteristiques-tab" data-toggle="tab" aria-controls="fiche_caracteristiques" aria-expanded="false">
            Caract&eacute;ristiques sp&eacute;cifiques</a>
            </li>
            <li class="">
            <a (click)="this.syncOnglets('fiche_normes','fiche')" href="#fiche_normes" role="tab" id="fiche_normes-tab" data-toggle="tab" aria-controls="fiche_normes" aria-expanded="false">
            Normes r&eacute;glementaires</a>
            </li>
            <li class="">
            <a (click)="this.syncOnglets('fiche_milieu','fiche')" href="#fiche_milieu" role="tab" id="fiche_milieu-tab" data-toggle="tab" aria-controls="fiche_milieu" aria-expanded="false">
            Caract&eacute;ristiques milieu environement</a>
            </li>
            <li class="">
            <a (click)="this.syncOnglets('fiche_conclusion','fiche')" href="#fiche_conclusion" role="tab" id="fiche_conclusion-tab" data-toggle="tab" aria-controls="fiche_conclusion" aria-expanded="false">
            Conclusion d'analyse</a>
            </li>
        </ul>
    </li>  
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="transactionsTabDrop" data-toggle="dropdown" aria-controls="transactionsTabDrop-contents" aria-expanded="false">
        Transactions <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="transactionsTabDrop" id="transactionsTabDrop-contents">
            <li class="">
            <a href="#transactions_resume" role="tab" id="transactions_resume-tab" data-toggle="tab" aria-controls="transactions_resume" aria-expanded="false">
            R&eacute;sum&eacute; des transactions</a>
            </li>
            <li class="">
            <a href="#transactions_details" role="tab" id="transactions_details-tab" data-toggle="tab" aria-controls="transactions_details" aria-expanded="false">
            D&eacute;tails des transactions</a>
            </li>
        </ul>
    </li>  
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="lotsTabDrop" data-toggle="dropdown" aria-controls="lotsTabDrop-contents" aria-expanded="false">
        &Eacute;valuations et lots <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="lotsTabDrop" id="lotsTabDrop-contents">
            <li class="">
            <a href="#lots_evaluation" role="tab" id="lots_evaluation-tab" data-toggle="tab" aria-controls="lots_evaluation" aria-expanded="false">
            &Eacute;valuation fonci&egrave;re</a>
            </li>
            <li class="">
            <a href="#lots_reglementation" role="tab" id="lots_reglementation-tab" data-toggle="tab" aria-controls="lots_reglementation" aria-expanded="false">
            R&eacute;glementation</a>
            </li>
            <li class="">
            <a href="#lots_renoves" role="tab" id="lots_renoves-tab" data-toggle="tab" aria-controls="lots_renoves" aria-expanded="false">
            Lots r&eacute;nov&eacute;s</a>
            </li>
            <li class="">
            <a href="#lots_anciens" role="tab" id="lots_anciens-tab" data-toggle="tab" aria-controls="lots_anciens" aria-expanded="false">
            Anciens Lots</a>
            </li>
        </ul>
    </li>  
 <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="observationsTabDrop" data-toggle="dropdown" aria-controls="observationsTabDrop-contents" aria-expanded="false">
        Observations d'enqu&ecirc;te <span class="caret">
        </span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="observationsTabDrop" id="observationsTabDrop-contents">
            <li class="">
            <a href="#observations_commentaires" role="tab" id="observations_commentaires-tab" data-toggle="tab" aria-controls="observations_commentaires" aria-expanded="false">
            Commentaires</a>
            </li>
            <li class="">
            <a href="#observations_photos" role="tab" id="observations_photos-tab" data-toggle="tab" aria-controls="observations_photos" aria-expanded="false">
            Photos</a>
            </li>
        </ul>
    </li> 

 -->

            </ul>







            <div class="tab-content" id="myTabContent" style="height: 250px;overflow: scroll;">


<!--ENQUETE-->
<div class="tab-pane fade  active in" role="tabpanel" id="enquete_dimmensions" aria-labelledby="enquete-dimmensions-tab">

    <h5 class="text-center">DIMENSIONS DU TERRAIN</h5>



    <div class="row">
        <div class="col-sm-6  col-sm-offset-3 ">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Frontage</th>
                        <th>Profondeur</th>
                        <th>Superficie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Imp&eacute;rial</th>
                        <td>{{dossier.FACADE}}</td>
                        <td>{{dossier.PROFONDEUR}}</td>
                        <td>{{dossier.SUPERFICIE}}</td>
                    </tr>
                    <tr>
                        <th scope="row">M&eacute;trique</th>
                        <td>{{dossier.FACADEM}}</td>
                        <td>{{dossier.PROFONDEURM}}</td>
                        <td>{{dossier.SUPERFICIEM}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>









</div>

<div class="tab-pane fade" role="tabpanel" id="enquete_observations" aria-labelledby="enquete-observations-tab">
    <h5>VOCATION OBSERV&Eacute;E</h5>
    <textarea rows="4" disabled style="width:100%; padding:5px;"> {{dossier.VOCATION}}
</textarea>


<h5>OBSERVATIONS D'ENQU&Ecirc;TE</h5>
<textarea rows="4" disabled style="width:100%; padding:5px;"> {{dossier.VISITENOTE}}
</textarea>



</div>

<div class="tab-pane fade" role="tabpanel" id="enquete_remarque" aria-labelledby="enquete-remarque-tab">
    <h5>REMARQUE G&Eacute;N&Eacute;RAL</h5>
    <textarea rows="4" disabled style="width:100%;height:80%; padding:5px;"> {{dossier.REMARQUE}}
</textarea>
</div>


<!--QUALIFICAITONS-->
<div class="tab-pane fade" role="tabpanel" id="qualification_releve" aria-labelledby="qualification_releve-tab">
    <h5>Relev&eacute; Visuel, Descriptions & Qualification</h5>
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-sm-4  ">
            <p><strong>&Eacute;gout</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_EGOUT}}</span>
</p>
<p><strong>Aqueduc</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_AQUEDUC}}</span>
</p>
<p><strong>&Eacute;lectricit&eacute; a&eacute;rienne</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_ELECTRICITEAE}}</span>
</p>
<p><strong>&Eacute;lectricit&eacute;</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_ELECTRICITEST}}</span>
</p>
<p><strong>Rue asphalt&eacute;e</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_RUEASPHALTEE}}</span>
</p>
</div>

<div class="col-sm-4  ">
    <p><strong>Trottoir</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_TROTTOIR}}</span>
</p>
<p><strong>Servitude</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_SERVITUDE}}</span>
</p>
<p><strong>Services à proximité</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_PROXSERVICES}}</span>
</p>
<p><strong>Contamination</strong>&nbsp;<span style="float:right;padding-right:50px;">{{qualificationTerrain.DESC_CONTAMINATION}}</span>
</p>
</div>

<div class="col-sm-4  ">

    <p><strong>Topographie</strong> &nbsp; <span style="float:right;padding-right:50px;"> {{this.qualificationTerrain.DESC_TOPOGRAPHIE}}</span>
</p>

<p><strong>Secteur</strong> &nbsp; <span style="float:right;padding-right:50px;">{{this.qualificationTerrain.DESC_SECTEUR}}</span>
</p>
<p><strong>Description du secteur</strong> &nbsp; <span style="     text-align: right;   width: 50%;float: right;margin-right: 50px;overflow: auto;">{{this.qualificationTerrain.DESCDESECTEURTEXT}}</span>
</p>

<p><strong>Plan d'action</strong> &nbsp; <span style="float:right;padding-right:50px;"> {{this.qualificationTerrain.DESC_PLANDACTION}}</span>
</p>

<p><strong>Qualification</strong> &nbsp; <span style="float:right;padding-right:50px;"> {{this.qualificationTerrain.DESC_DEVELOPPABLE}}</span>
</p>







</div>



</div>



</div>

<!--
 <div class="tab-pane fade" role="tabpanel" id="qualification_descriptions" aria-labelledby="qualification_descriptions-tab">
        <p>Qualifications - Descriptions</p>
 </div>
-->
<div class="tab-pane fade" role="tabpanel" id="qualification_resume" aria-labelledby="qualification_resume-tab">
    <h5> R&eacute;sum&eacute;</h5>
    <textarea rows="12" disabled style="width:100%; padding:5px;"> {{this.qualificationTerrain.COMMENTAIRE}}
</textarea>


</div>



<!--FICHE-->
<div class="tab-pane fade" role="tabpanel" id="fiche_caracteristiques" aria-labelledby="fiche_caracteristiques-tab">

    <p>{{this.fichequalificative | json}}</p>

    <p>{{this.listTitresProprieties | json}}</p>
    <p>{{this.listServitudes | json}}</p>
    <p>{{this.listArrondissement | json}}</p>



    <h5>Caract&eacute;ristiques sp&eacute;cifiques</h5>
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-sm-4  ">
            <p><strong>Titres de propri&eacute;t&eacute;</strong>&nbsp;<span style="float:right;padding-right:50px;">{{fichequalificative.TITRE_PROPRIETE}}</span>
</p>
<p><strong>Servitudes</strong>&nbsp;<span style="float:right;padding-right:50px;">{{fichequalificative.SERVITUDES}}</span>
</p>
<p><strong>Sp&eacute;cificit&eacute; du sol</strong>&nbsp;<span style="float:right;padding-right:50px;">{{fichequalificative.SPECIF_SOL}}</span>
</p>
<p><strong>B&acirc;timent sur l'immeuble</strong>&nbsp;<span style="float:right;padding-right:50px;">{{fichequalificative.BATIM_SUR_IMM}}</span>
</p>


<div [hidden]=`((fichequalificative.TITRE_PROPRIETE === undefined || fichequalificative.TITRE_PROPRIETE === null) &&  
                (fichequalificative.SERVITUDES === undefined || fichequalificative.SERVITUDES === null) && 
                (fichequalificative.SPECIF_SOL === undefined || fichequalificative.SPECIF_SOL === null) && 
                (fichequalificative.BATIM_SUR_IMM === undefined || fichequalificative.BATIM_SUR_IMM === null))`>

    <h5>&Eacute;valuation fonci&egrave;re</h5>
    <p><strong>Ann&eacute;e</strong>&nbsp;<span style="float:right;padding-right:50px;">{{evaluationfonciere.MAXANNEEROLE}}</span>
</p>
<p><strong>&Eacute;val terrain</strong>&nbsp;<span style="float:right;padding-right:50px;">{{evaluationfonciere.SUMEVALUATIONTERRAIN}}</span>
</p>
<p><strong>&Eacute;val b&acirc;timent</strong>&nbsp;<span style="float:right;padding-right:50px;">{{evaluationfonciere.SUMEVALUATIONBATISSE}}</span>
</p>
<p><strong>&Eacute;val totale</strong>&nbsp;<span style="float:right;padding-right:50px;">{{evaluationfonciere.SUMEVALUATIONTOTALE}}</span>
</p>
<p><strong>Superfice de l'immeuble</strong>&nbsp;<span style="float:right;padding-right:50px;">{{evaluationfonciere.SUMTOTALSURFACEM}}</span>
</p>



</div>


</div>

<div class="col-sm-8 ">
    <h5>NOTES</h5>
    <textarea rows="8" disabled style="width:100%; padding:5px;"> {{fichequalificative.CARAC_SPECIF_NOTES}}
</textarea>

</div>




</div>







</div>
<!--FICHE CARACTERISTIQUES SPECDIFIQUES-->

<div class="tab-pane fade" role="tabpanel" id="fiche_normes" aria-labelledby="fiche_normes-tab">
    <p>Normes réglementaires</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="fiche_milieu" aria-labelledby="fiche_milieu-tab">
    <p>Caractéristiques milieu environement</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="fiche_conclusion" aria-labelledby="fiche_conclusion-tab">
    <p>Conclusion d'analyze</p>
</div>





<!--TRANSACTIONS-->
<div class="tab-pane fade" role="tabpanel" id="transactions_resume" aria-labelledby="transactions_resume-tab">
    <p>Résumé des transactions</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="transactions_details" aria-labelledby="transactions_details-tab">
    <p>Détails des transactions</p>
</div>




<!--LOTS-->
<div class="tab-pane fade" role="tabpanel" id="lots_evaluation" aria-labelledby="lots_evaluation-tab">
    <p>Évaluation foncière</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="lots_reglementation" aria-labelledby="lots_reglementation-tab">
    <p>Réglementations</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="lots_renoves" aria-labelledby="lots_renoves-tab">
    <p>Lots rénovés</p>
</div>

<div class="tab-pane fade" role="tabpanel" id="lots_anciens" aria-labelledby="lots_anciens-tab">
    <p>Anciens Lots</p>
</div>




<!--OBSERVATIONS-->
<div class="tab-pane fade" role="tabpanel" id="observations_commentaires" aria-labelledby="observations_commentaires-tab">
    <p>Commentaires</p>
</div>
<div class="tab-pane fade" role="tabpanel" id="observations_photos" aria-labelledby="observations_photos-tab">
    <p>Photos</p>
</div>



</div>
</div>


</div>
</div>
<!--row-->




</div>
<!--container-->





<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">




        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        //$('#collapseOne').collapse();
    });
</script>



</div>