/*
Theme Name: Nova
Theme URI: http://www.elegantthemes.com/gallery/
Version: 4.1
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('fonts/ColabThi-webfont.eot');
    src: url('fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabThi-webfont.woff') format('woff'),
         url('fonts/ColabThi-webfont.ttf') format('truetype'),
         url('fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('fonts/ColabMed-webfont.eot');
    src: url('fonts/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabMed-webfont.woff') format('woff'),
         url('fonts/ColabMed-webfont.ttf') format('truetype'),
         url('fonts/ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #555555; text-shadow: 1px 1px 1px #ffffff; background: white url(images/top-bg.png) repeat-x; min-width: 960px; }

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #808080; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #808080; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 18px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#center-highlight { background: url(images/center-highlight.png) no-repeat center top; }
	.container { text-align: left; margin: 0 auto; width: 960px; position: relative; }
	#header .container { width: 860px; padding-top: 37px; padding-bottom: 52px; }
	body#home #header .container { padding-bottom: 70px; }
		#logo { float: left; /*margin-top: 37px; */ margin-right: 29px; }
		ul#top-menu { margin-top: 23px; float: left; font-weight: bold; }
			#search { /*float: right;*/ margin-top: 33px; padding-left:5px; }
				div#search-form { position: relative; float: right; margin-top: 30px; }
				#searchform { background:url(images/search-form.png) no-repeat; height:49px; width:218px; position: absolute; top: -16px; left: -230px; display: none; }
					#searchinput { background: none; border: none; width: 170px; font-size: 12px; /*float: left;*/ color: #555555; margin-top: 14px; padding-left: 17px; padding-top: 0; }

	#main-area, #footer-widgets { background: white url(images/main-area.png) repeat-x top left; border-bottom: 1px solid white; }
		ul#main-tabs { position: absolute; top:-102px; left: 0px; }
			ul#main-tabs li { float: left; /*padding: 47px 24px 18px 40px; height: 39px; width: 142px; */ }
			ul#main-tabs li.ui-state-active { background:url(images/active-tab2.png) 0px 6px no-repeat; }
				ul#main-tabs li a { text-decoration: none; /* padding-right: 20px; */ display: block; padding: 47px 9px 18px; height: 39px; width: 188px; text-align: center; }
					ul#main-tabs strong { text-transform: uppercase; color: #555555; font-weight: bold; text-shadow: 1px 1px 1px #fff; font-size: 21px; letter-spacing: -1px; }
					ul#main-tabs span { color:#000000; display:block; font-size:18px; text-shadow:1px 1px 1px #fff; letter-spacing: -1px; /*width:130px;*/ line-height: 5px;}
		.tab-slide { padding-top: 46px; }
			.tab-slide h3.title { font-size: 48px; color: #555555; padding-bottom: 12px; }
			.thumbnail { display:block; float:left; padding:4px; position:relative; margin-right: 20px; margin-top: 4px; width: 164px; height: 186px; }
				.thumbnail span.overlay2 { background:url(images/box-overlay2.png) no-repeat;
display:block; height:186px; left:-2px; position:absolute; top:-1px; width:172px; }
			.tab-slide .content-area { padding: 0 50px; }

			a.readmore { background:url(images/readmore.png) no-repeat right bottom; color:#ffffff; display:block; float:right; font-size:12px; height:29px; line-height:27px; padding-right:15px; text-shadow:1px 1px 1px rgba(0,0,0,0.4); font-weight: bold; margin-bottom: 25px; }
				a.readmore span { background:url(images/readmore.png) no-repeat;
display:block; height:29px; padding-left: 15px; }
			a.readmore:hover { color: #f6f6f6; }

	.gallery-area { margin-left: -33px; }
		.gallery-area .et_pt_item_image img.portfolio { background: #fff !important; border: 1px solid #d7d7d7 !important; padding: 3px !important; }
			.gallery-area .et_pt_item_image span.overlay { top: 4px !important; left: 4px !important; }
			.gallery-area .et_pt_gallery_entry { padding-bottom: 6px !important; }

	#entries-area { background: url(images/content-main-bg.png) repeat-y top right; }
		#entries-area-content { background: url(images/content-area-topbg.jpg) no-repeat top right; padding-bottom: 40px; }

			#content-area { float: left; width: 625px; margin-right: 60px; }

				.entry { margin-top: 40px; }
					.entry h2.title, .entry h1.title, h3#comments, h3#reply-title span { font-size: 36px; margin-bottom: 4px; }
						.entry h2.title a, .entry h1.title, h3#comments, h3#reply-title span { color: #555555; }
					.entry h2.title a:hover { color: #000; text-decoration: none; }
					.post-info { background: url(images/postinfo-bg.png) no-repeat; padding-top: 5px; margin-bottom: 10px; }
						.post-info p.post-meta { background: url(images/postinfo-bg.png) no-repeat bottom left; padding-bottom: 7px; color: #b6b6b6; font-style: italic; font-family: Georgia, serif; }
							p.post-meta a { color: #686868; }
							p.post-meta a:hover { color: #000; text-decoration: none; }

	#breadcrumbs { color: #686868; font-family: Georgia, serif; font-style: italic; font-weight: bold; }
		#breadcrumbs a, #breadcrumbs span.raquo { display: block; float: left; }
		#breadcrumbs a { color: #b6b6b6; font-weight: normal; }
			#breadcrumbs a:hover { color: #000; text-decoration: none; }
		#breadcrumbs span.raquo { background: url(images/breadcrumbs-separator.png) no-repeat; text-indent: -9999px; width: 34px; margin: 0 2px; }

		#breadcrumbs-left, #breadcrumbs-content, #breadcrumbs-right { float: left; height: 35px; }
		#breadcrumbs-left { background: url(images/breadcrumbs-left.png) no-repeat; width: 33px; }
		#breadcrumbs-content { background: url(images/breadcrumbs-bg.png) repeat-x; line-height: 32px; padding: 0 3px; }
		#breadcrumbs-right { background: url(images/breadcrumbs-right.png) no-repeat; width: 35px; }

	.fullwidth #entries-area, .fullwidth #entries-area-content { background: none; }
	.fullwidth #content-area { width: 960px; margin-right: 0px; }

	#home-blogstyle { margin-top: -72px; background: url("images/main-area.png") repeat-x scroll left top white; border-bottom: 1px solid white; padding-top: 2px; }
	#home-blogstyle #entries-area-content { background: none; }

	.et_pad { padding-top: 30px; }

	.entry ul, .comment-content ul { list-style-type: disc; padding: 10px 0px 10px 20px; }
		.entry ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 10px 0px 10px 2px; }
			.entry ul li ul, .entry ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
			.entry ol li ul, .entry ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

	ul#top-menu li { margin-left: 10px; display:block; height:29px; /*padding:0 12px 0 0;*/ float:left; position: relative; }
		ul#top-menu a { font-size: 12px; color: #555555; text-decoration: none; text-shadow: 1px 1px 1px #ffffff; display: block; line-height:27px; }

		ul#top-menu > li { padding:0 5px 0 0; }
			ul#top-menu > li > a { padding:0 0 0 5px; }

		ul#top-menu > li.current_page_item { background:url(images/menu-nav.png) no-repeat scroll right bottom transparent; padding:0 15px 0 0; }
			ul#top-menu > li.current_page_item > a { color: #ffffff; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); background:url(images/menu-nav.png) no-repeat scroll 0 0 transparent; display:block; height:29px; line-height:27px; padding:0 0 0 15px; }

	ul.nav ul, .et_mobile_menu { width: 198px; background: #fff; border: 1px solid #e8e8e8; top: 34px !important; box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1x 1px 5px 0px rgba(0, 0, 0, 0.1); border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; /*border-top-left-radius: 0px;-moz-border-radius-topleft: 0px; border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;*/ padding: 13px 0px 12px; z-index: 9999; display: none; }
		ul.nav ul li { margin: 0px; padding: 6px 10px 6px 10px !important;  }
			ul.nav ul li a { line-height: 18px !important; width: 150px; background-color: #fff; }

			ul.nav li:hover ul ul, ul.nav li.sfHover ul ul { top: -16px !important; left: 183px !important; border-top-right-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; }

	span.menu_arrow { display: block; width: 8px; height: 5px; background: url(images/menu-active-arrow.png) no-repeat; position: absolute; top: -15px; left: 37%; display: none; }

	span.menu_top_arrow { display: block; width: 19px; height: 10px; background: url(images/topmenu_arrow.png) no-repeat; position: absolute; top: -10px; left: 22px; }

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

/*#featured { margin-bottom: 125px; }*/
	.featured-img { display:block; float:left; padding:4px; position:relative; }
		.featured-img span.overlay { background:url(images/box-overlay.png) no-repeat; display:block; height:292px; left:-1px; position:absolute; top:-1px; width:451px; }
	#featured .description { float: right; width: 466px; padding-top: 23px; }
		#featured h2.title { font-size: 60px; line-height: 50px; }
			#featured h2.title cufon { margin-bottom: -19px; }

			#featured h2.title a { text-decoration: none; color: #555; }
		#featured .description p { font-size: 24px; margin-top: 8px; }
		#featured a.join-today { background:url(images/jointoday.png) no-repeat; display: block; width: 115px; height: 51px; margin-top: 5px; padding:14px 18px 0 42px; text-decoration:none; float: left; text-align: left; }
			#featured a.join-today strong { text-transform: uppercase; color: #fff; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.3); font-size: 18px; letter-spacing: -1px; }
			#featured a.join-today span { color:#283d55; display:block; font-size:14px; text-shadow:1px 1px 1px rgba(255,255,255,0.3); letter-spacing: -1px; width:110px; font-size: 14px;}
	div#controllers { text-align: center; padding-top: 40px; }
		div#controllers a { background:url(images/controller1.png) no-repeat; display:block; height:15px; margin-right:4px; text-indent:-9999px; width:15px; display: inline-block }
			div#controllers a.activeSlide { background:url(images/controller2.png) no-repeat; }

#featured .description-left .featured-img { float: right; }
#featured .description-left .description { float: left; text-align: right; }
#featured .description-left a.join-today { float: right; }


#featured .description-center .description { float: none; text-align: center; width: 100%; }
#featured .description-center a.join-today { margin-left: 393px; }

#featured_content, #featured_content .slide { width: 960px; }

#featured .video-slide { background: url(images/box-overlay.png) no-repeat; padding: 6px 5px 16px; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

div.avatar { position: relative; padding: 8px 0 0 8px; height: 66px; }
	div.avatar span.avatar-overlay { position: absolute; top: 1px; left: 1px; background: url(images/avatar-overlay.png) no-repeat; display: block; width: 69px; height: 74px; }

#comment-wrap { width: 650px; margin-top: 65px; }
	#comment-wrap div.authordata { width: 69px; margin-right: 18px; }
		.commentmetadata { font-style: italic; font-family: Georgia, serif; font-size: 12px; text-align: center; }
		.comment-wrap { float: left; width: 559px; background: #fff; border: 1px solid #d9d9d9; -moz-box-shadow: 1px 1px 0 0 #E9E9E9; -webkit-box-shadow: 1px 1px 0 0 #E9E9E9; box-shadow: 1px 1px 0 0 #E9E9E9; }
			.comment-wrap-inner { border: 1px solid #fff; background: url(images/comment-inner-bg.png) repeat-x bottom left; padding: 22px 13px 10px 26px; position: relative; }
				.comment-arrow { position: absolute; top: 24px; left: -12px; width: 11px; height: 20px; background: url(images/comment-arrow.png) no-repeat; }
			.comment-wrap, .comment-wrap-inner { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	.comment-body { margin-bottom: 22px; }

	.reply-container { background:url(images/readmore.png) no-repeat right bottom; display:block; float:right; font-size:12px; height:29px; line-height:27px; padding-right:15px; text-shadow:1px 1px 1px rgba(0,0,0,0.4); font-weight: bold; }
		.reply-container a { background:url(images/readmore.png) no-repeat; display:block; height:29px; padding-left: 15px; color:#ffffff; }
	.reply-container a:hover { color: #f6f6f6; text-decoration: none; }
	span.fn, span.fn a { color: #555; font-size: 24px; }
	span.fn a:hover { color: #000; text-decoration: none; }

	.comment-content { padding-top: 9px; }

	.depth-2 .comment-wrap { width: 472px; }
	.depth-3 .comment-wrap { width: 385px; }
	.depth-4 .comment-wrap { width: 298px; }
	.depth-5 .comment-wrap { width: 211px; }

	.fullwidth #comment-wrap { width: 960px; }
	.fullwidth .comment-wrap { width: 871px; }
	.fullwidth .depth-2 .comment-wrap { width: 784px; }
	.fullwidth .depth-3 .comment-wrap { width: 697px; }
	.fullwidth .depth-4 .comment-wrap { width: 610px; }
	.fullwidth .depth-5 .comment-wrap { width: 523px; }

	.depth-1 ul { margin-left: 87px; }

	#commentform textarea#comment { width: 96%; }
	#commentform input[type=text] { width: 38%; }

	li.comment #respond textarea { width: 94% !important; }
	li.comment #respond input[type=text] { width: 48% !important; }

	#commentform textarea#comment, #commentform input[type=text], li.comment #respond textarea, li.comment #respond input[type=text] { background: #fbfbfb url("images/comment-inner-bg.png") repeat-x left bottom; border: 1px solid #d9d9d9; -moz-box-shadow: 1px 1px 0 0 #E9E9E9; -webkit-box-shadow: 1px 1px 0 0 #E9E9E9; box-shadow: 1px 1px 0 0 #E9E9E9; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding: 10px; }

	#comment-wrap p#submit-container { text-align: right; }
		#comment-wrap p#submit-container input#submit { background: url("images/submit.png") no-repeat scroll 0 0 transparent !important; border: medium none !important; color: #FFFFFF; font-size: 12px; padding: 3px 0 7px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); width: 66px; font-weight: bold; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#footer { border-top: 1px solid #fff;  }
	p#copyright { float:right; font-size:12px; color:#555555; text-shadow: 1px 1px 1px #fff; padding: 30px 0px; }
		p#copyright a {font-weight: bold; color:#555555;}

#footer-widgets	#widgets-wrapper { padding-bottom: 40px; }
	#footer-widgets	.widget { float: left; width: 220px; margin-right: 26px; padding-top: 45px; }
	#footer-widgets .last { margin-right: 0px; }
		#footer-widgets h3.widgettitle { background: url(images/footer-separator.png) no-repeat bottom left; padding-bottom: 14px;  margin-bottom: 10px; }




/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

#sidebar { float: left; padding-top: 65px; width: 275px; }
#sidebar, #footer-widgets { font-family: Georgia, serif; }
	h3.widgettitle { font-size: 24px; color: #3c3b3b; }
	#sidebar .widget { padding: 0px 5px 20px 30px; }
		#sidebar h3.widgettitle { background: url(images/sidebar-separator.png) no-repeat bottom left; padding-bottom: 14px;  margin-left: -29px; padding-left: 29px; margin-bottom: 10px; }
		.widget ul ul { margin: 0px 0px 0px 15px; }
		.widget ul li { background: url(images/widget-li.png) no-repeat 0px 10px; padding: 4px 0px 4px 13px; }
			.widget ul li ul { padding:5px 0px 0px 7px; margin: 0px 0px -4px; }
		.widget a { color: #525252; }
		.widget a:hover { color: #000; text-decoration: none; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:50px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:192px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 191px; z-index:1000; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #000; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; float: right; margin-top: 35px; }
.wp-pagenavi a { color: #666; }
.wp-pagenavi a:hover { color: #000; }


a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.foursixeight { margin: 0px 0px 15px 84px;}

.js #featured { background: url(images/ajax-loader.gif) no-repeat center 30%; }
	.js #featured .container { visibility: hidden; }

div#fancy_title div { text-shadow: none !important; }

.tab-slide ul { list-style-type: disc; padding: 10px 0px 10px 20px; }
.tab-slide ol { list-style-type: decimal; list-style-position: inside; padding: 10px 0px 10px 2px; }
.tab-slide ul li ul, .tab-slide ul li ol { padding: 2px 0px 2px 20px; }
.tab-slide ol li ul, .tab-slide ol li ol { padding: 2px 0px 2px 35px; }

/*
#main-area { height: 400px; }

ul.nav ul li a { background-color: #fff; }
ul#main-tabs li.ui-state-active a span, ul#main-tabs li.ui-state-active a strong { background-color: transparent; }
ul#main-tabs li a span, ul#main-tabs li a strong { background-color: #eff0f0; } */

#comment-wrap .navigation { padding: 10px 0; }
	.nav-previous { float: left; }
	.nav-next { float: right; }
h3#reply-title small { display: block; }
	h3#reply-title small a { font-size: 12px; letter-spacing: 0px; }

#commentform input[type=text] { width: 40%; display: block; padding: 5px; }
#commentform textarea#comment { width: 91%; }
.commentlist #respond textarea#comment { width: 98% !important; }
.commentlist #respond input[type=text] { width: 40%; display: block; padding: 5px; }
.comment_navigation_top, .comment_navigation_bottom { padding: 12px 0; }
.comment_navigation_bottom { padding-top: 0; }
.et_embedded_videos { display: none !important; }

.js .et_cycle #featured_content { min-height: 277px; }
	.js .et_cycle #featured_content .slide { display: none; }

#featured h2.title, #featured .description p, #entries-area h1, #entries-area h2, #entries-area h3, #entries-area h4, #entries-area h5, #entries-area h6, ul#main-tabs span, span.fn, .tab-slide h3.title, #footer-widgets h3, #featured h2.title span, #featured .description p span, .tab-slide h3.title span { font-family: 'ColaborateThinRegular', Arial, sans-serif; }
#featured h2.title span, #featured .description p span, .tab-slide h3.title span { font-family: 'ColaborateMediumRegular', Arial, sans-serif; }

#featured h2.title, #featured .description p, #entries-area h1, #entries-area h2, #entries-area h3, #entries-area h4, #entries-area h5, #entries-area h6, #featured h2.title span, #featured .description p span, .tab-slide h3.title span { text-shadow: 1px 1px 0 #fff; }
.tab-slide h3.title, #footer-widgets h3 { text-shadow: 1px 1px 1px #fff; }
ul#main-tabs span { line-height: 14px; }
#et_pt_blog, #et-contact, #et-login, #et-search, #sitemap, #et_pt_gallery, #et_pt_portfolio_gallery { clear: both; }






/* ELEPHANT BLEU  */
ul#footer_menu{list-style: none;margin-left: 55px;}
ul#footer_menu li{list-style: none;float: left;margin-right: 60px;margin-bottom:20px;}
