{% extends 'imdc.html.twig' %}

{% block title %}  IMDC Demo    {% endblock %}

{% block content %}


    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_demo.html.twig' %}
    
    
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">    
    
    
 <div  class="container-fluid">
  <div class="row"><div class="col-md-12"></div></div>
     
  <div class="row">
      
      
      
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img id="client_logo"  style='max-height: 200px;' src="https://image.freepik.com/free-vector/logo-sample-text_355-558.jpg" class='img-responsive center-block' alt='logo' />
            
            <h2 id="client_name" class='text-center'>Sample Company name</h2>
            
            <h4 class='text-center' id="client_address">Sample Address</h4>
            
            <h6 class='text-center' id="client_contact">Contact info</h6>
        </div>
        <div class="col-md-6" style="margin-top: 25px;">
           
       {#     <div id="live_data_simple_REAL_POWER" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Real Power:"|trans}}</span>
                    <span class="description-header value">s350Kw</span>
                    <a href="#"><span data-toggle="tooltip" data-placement="right" title="{{"Real Power:"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>#}
                    
                    
            {#<div id="live_data_simple_ACTIVE_POWER" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Active Power:"|trans}}</span>
                    <span class="description-header value">s290Kw</span>
                    <a href="#"><span data-toggle="tooltip" data-placement="right" title="{{"Active Power:"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div> #}       
                    
                    
           <div id="live_data_simple_POWER_CONSUMPTION" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"P Cons."|trans}}:</span>
                    <span class="description-header value">s160851Kw</span>
                    <a href="{{path('_chart', {'var': 'power_consumption'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Power Consumption"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div> 
                    
                    
            <div id="live_data_simple_APPARENT_POWER" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Apparent Power"|trans}}:</span>
                    <span class="description-header value">s380Kw</span>
                    <a href="{{path('_chart', {'var': 'power_apparent'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Apparent Power"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>             
                    
            
            <div id="live_data_simple_POWER_FACTOR" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Power Factor"|trans}}:</span>
                    <span class="description-header value">s0.90PF</span>
                    <a href="{{path('_chart', {'var': 'power_factor'})}}"><span  data-toggle="tooltip" data-placement="right" title="{{"Power Factor"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>                </p>    
              </div>
            </div>             
        
            <div id="live_data_simple_UTILISATION_FACTOR" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Utilisation Factor"|trans}}:</span>
                    <span class="description-header value">s85%</span>
                    <a href="{{path('_chart', {'var': 'utilisation_factor'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Utilisation Factor"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>            
                    
            <div id="live_data_simple_TENSION" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Tension"|trans}}:</span>
                    <span class="description-header value">s600V</span>
                    <a href="{{path('_chart', {'var': 'tension'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Tension"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>
                    
                    
            <div id="live_data_simple_FREQUENCY" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"Frequency"|trans}}:</span>
                    <span class="description-header value">s60Hz</span>
                    <a href="{{path('_chart', {'var': 'frequency'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Frequency"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>             
                    
           
                    
          
          <div id="live_data_simple_TOTAL_HARMONIC_DISTORSION" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"THD"|trans}}:</span>
                    <span class="description-header value">s3%TDD</span>
                    <a href="{{path('_chart', {'var': 'thd'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Total Harmonic Distorsion"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>          
                    
                    
                    
          <div id="live_data_simple_TOTAL_CURRENT_DEMAND_DISTORSION" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"TCDD"|trans}}:</span>
                    <span class="description-header value">s5%TDD</span>
                    <a href="{{path('_chart', {'var': 'tcdd'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"Total Current Demand Distorsion"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>
                    
                    
         <div id="live_data_simple_KFACTOR" class="col-md-6 text-center">
              <div class="description-block">
                <p>
                    <span class="  description-text name" style="font-weight: bold;">{{"K-FACTOR"|trans}}:</span>
                    <span class="description-header value">s5SK-FA</span>
                    <a href="{{path('_chart', {'var': 'k-factor'})}}"><span data-toggle="tooltip" data-placement="right" title="{{"K-FACTOR"|trans}}" class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
                </p>    
              </div>
            </div>                        
                    
                    
                    
                    
            
        </div>
        <div class="col-md-1"></div>
  </div>
  
   </div>
  
    
    
    
   <div class="container-fluid" style='margin-top:40px;'> 
 <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-2" style="position: relative;">
         
     {#    <ul id="analog-clock" class="analog">	
	   	<li class="hour"></li>
	     	<li class="min"></li>
                <li class="sec"></li>
                <li class="meridiem hidden" ></li>
     	</ul> #}
         
         <div style="margin-top:0px;margin-left: 50%;position: absolute;left: 0px;z-index:3;" >
             <a href="#" >
                 <img id="clock_off" style="display:none;    border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/ff0000/ff0000/" alt="img_off" class="img-rounded thumbnail">
                 <img id="clock_on"  style="display:none; border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/008000/008000/" alt="img_off" class="img-rounded thumbnail">
                 
             </a>
         </div>
     
     
         <div id="container_clock" style="width: 150px; height: 150px; margin-top:30px;"></div>
         <p></p>
         
     </div>
     <div class="col-md-2 text-center"  style="position: relative;">
         
         <div style="margin-top:0px;margin-left: 50%;position: absolute;left: -15px;z-index:3;" >
             <a href="#" >
                 <img id="e1_off"  style="display:none; border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/ff0000/ff0000/" alt="img_off" class="img-rounded thumbnail">
                 <img id="e1_on"   style="display:none;    border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/008000/008000/" alt="img_off" class="img-rounded thumbnail">
             </a>
         </div>
         <div style="width:150px;position:absolute;margin-left:50%;left:-75px;margin-top:30px;" id="chart1"></div>
         
         <div>
          <p style="    padding-top: 185px;" id="e1_pcr"><span style="font-weight: bold;">{{"P"|trans}}:</span><span class="value">s37kW</span></p>   
          <p id="e1_t"><span style="font-weight: bold;">{{"T"|trans}}:</span><span class="value">s25C</span></p>
          <p id="e1_fu"><span style="font-weight: bold;">{{"FU"|trans}}:</span><span class="value">s100%</span></p>
        </div> 
          
     </div>
     <div class="col-md-2  text-center" style="position: relative;" >
         
         <div style="margin-top:0px;margin-left: 50%;position: absolute;left: -15px;z-index:3;" >
             <a href="#" >
                 <img id="e2_off" style="display:none; border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/ff0000/ff0000/" alt="img_off" class="img-rounded thumbnail">
                 <img id="e2_on" style="display:none;    border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/008000/008000/" alt="img_off" class="img-rounded thumbnail">
                 
             </a>
         </div>
         
         
         <div style="width:150px;position:absolute;margin-left:50%;left:-75px;margin-top:30px;" id="chart2"></div>
         <p style="padding-top: 185px;"  id="e2_pcr"><span style="font-weight: bold;">{{"P"|trans}}:</span><span class="value">s25.9kW</span></p>   
         <p id="e2_t"><span style="font-weight: bold;">{{"T"|trans}}:</span><span class="value">s25C</span></p>
         <p id="e2_fu"><span style="font-weight: bold;">{{"FU"|trans}}:</span><span class="value">s70%</span></p>    
         
     </div>
     <div class="col-md-2 text-center" style="position: relative;">
         <div style="margin-top:0px;margin-left: 50%;position: absolute;left: -15px;z-index:3;" >
             <a href="#" >
                 <img id="e3_off" style="display:none; border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/ff0000/ff0000/" alt="img_off" class="img-rounded thumbnail">
                 <img id="e3_on" style="display:none;    border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;" src="http://fakeimg.pl/20x20/008000/008000/" alt="img_off" class="img-rounded thumbnail">
             </a>
         </div>
         <div style="width:150px;position:absolute;margin-left:50%;left:-75px;margin-top:30px;" id="chart3"></div>
         <p style="padding-top: 185px;" id="e3_pcr"><span style="font-weight: bold;">{{"P"|trans}}:</span><span class="value">s7.4kW</p>   
         <p id="e3_t"><span style="font-weight: bold;">{{"T"|trans}}:</span><span class="value">s25C</span></p>
         <p id="e3_fu"><span style="font-weight: bold;">{{"FU"|trans}}:</span><span class="value">s20%</span></p>    
     </div>
     <div class="col-md-2 text-center" style="position: relative;">
         <div style="width:150px;position:absolute;margin-left:50%;left:-75px;margin-top:30px;" id="chart4"></div>
         <p style="padding-top: 185px;" id="e4_pcr"><span style="font-weight: bold;">{{"P"|trans}}:</span><span class="value">s70.3kW</p>   
         <p id="e4_fu"><span style="font-weight: bold;">{{"FU"|trans}}:</span><span class="value">s72%</span></p>    
     </div>
     
     {#<div class='col-md-8' id="chart_div2"></div>#}
     
     <div class="col-md-1"></div>
           
              
            
</div>
  
  </div>

     
     <div class="container-fluid" style='margin-top:40px;'> 
        <div class="row">
            <div class="col-md-6">
                
                
                    <div class="table-responsive">
                    <table class="table table-hover">
                       <thead>
                        <tr>
                           <th></th> 
                           <th>{{"Power Consumption"|trans}}</th>
                           <th>{{"Cost"|trans}}</th>
                        </tr>
                       </thead>  
                    <tbody>
                        
                        <tr>
                          <td>{{"Bill"|trans}} 2014</td>  
                          <td>400Kw</td>  
                          <td>5748.50$</td>  
                        </tr>     

                        <tr>
                          <td>{{"Forecast"|trans}} 2015</td>  
                          <td>350Kw</td>  
                          <td>5029.50$</td>  
                        </tr> 

                       



                    </tbody>  
                    </table>

                  </div>
                
                
                
                
            </div>
      
            <div class="col-md-6">
                <div id="container_power_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>              
        </div>
    </div>
   
     
</div>
         
     </div>
    </div> 
    
{% endblock %}

{% block stylesheets %}
{{ parent() }}   
<link rel="stylesheet" type="text/css" href="{{ asset('libs/jqueryclock/css/analog.css') }}"> 

<style>
 /*HIDE CONTENT UNTIL UPDATE DATA FROM SERVER*/
    .row{opacity: 0;}   
    div#container_power_chart div#highcharts-5.highcharts-container > svg > text:last-child{opacity: 0;}
    p span.description-text{font-size: small;}
</style>
{% endblock %}


{% block javascripts %}
     {{ parent() }}
     
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="{{ asset('libs/jqueryclock/js/jquery.clock.js') }}"></script>	
        <script src="{{ asset('libs/jquery.blockUI.js')}}"></script> 
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>


     <script type='text/javascript'>
            $.blockUI({ message: null });

             /* SETTING CLOCK VALUES */
             var clock;
            $(document).ready(function() {
                  /*SETTING SAMPLE CLOCK*/  
                  $('#analog-clock').clock({offset: '+5', type: 'analog'});
                  /*SETTING ALL CLOCKS*/  
            });
        
        
            jQuery(document).ready(function() {
                    window.setInterval(function(){
                              data_update();
                            }, 1000);
            });
         
         
         
        google.load("visualization", "1", {packages:["gauge"]});
	google.setOnLoadCallback(drawGauges);
	
	function drawGauges() {
        
        window.data1 = new google.visualization.DataTable();
        window.data1.addColumn('number', 'sFour');
        window.data1.addRows(2);
        
        window.data2 = new google.visualization.DataTable();
        window.data2.addColumn('number', 'sEntry');
        window.data2.addRows(2);
        
        window.data3 = new google.visualization.DataTable();
        window.data3.addColumn('number', 'sWarehouse');
        window.data3.addRows(2);
        
        window.data4 = new google.visualization.DataTable();
        window.data4.addColumn('number', 'sTotal');
        window.data4.addRows(2);
        
	
	window.options = {
	  width: 150, height: 150,
	  redFrom: 90, redTo: 100,
	  yellowFrom:75, yellowTo: 90,
	  minorTicks: 5
	};
	
        window.chart1 = new google.visualization.Gauge(document.getElementById('chart1'));
        window.chart2 = new google.visualization.Gauge(document.getElementById('chart2'));
        window.chart3 = new google.visualization.Gauge(document.getElementById('chart3'));
        window.chart4 = new google.visualization.Gauge(document.getElementById('chart4'));
           
       window.chart1.draw(window.data1, options);
       window.chart2.draw(window.data2, options);
       window.chart3.draw(window.data3, options);
       window.chart4.draw(window.data4, options);
	
{#        setInterval(function() {
            
            var jsonData = $.ajax({
                    url: "http://{{ip_rest_api_sample}}/lab/data1.php",
                    data: {'jsonrequest':'dial'},
                    dataType:"json",
                    async: false
            }).responseText;
            jdata = JSON.parse(jsonData);

            data1.setCell(0, 0, jdata.rows[0].c[2].v );
            data2.setCell(0, 0, jdata.rows[1].c[2].v );
            data3.setCell(0, 0, jdata.rows[2].c[2].v );
            data4.setCell(0, 0, jdata.rows[3].c[2].v );

            chart1.draw(data1, options);
            chart2.draw(data2, options);
            chart3.draw(data3, options);
            chart4.draw(data4, options);
			
        }, 1000);
		#}
	
	}
	
    
    function data_update()
	{
						
                        
                        $.ajax({
                          url: "http://{{ip_rest_api_sample}}/lab/datalive_client.php",
                        }).done(function(data) {

                                //pagejson = JSON.parse(data);
                                
                                var pagejson = data;
                                
                                /*SAVING DATA FOR EXTERNAL USE IN THE PAGE*/
                                window.time_hour     = pagejson.time_hour;
                                window.time_minute   = pagejson.time_minute;
                                window.time_second   = pagejson.time_second;
                                window.current_power_consumption = pagejson.real_power.value;//pagejson.power_consumption;
                                /*CLIENT DATA*/
                                
                                $("#client_logo").attr("src",pagejson.detail_client.logo);
                                $("#client_name").html(pagejson.detail_client.nom);
                                $("#client_address").html("");
                                $("#client_contact").html("");

                                pagejson.detail_client.address.forEach(function(address)
                                {$("#client_address").append(address.street + ', ' + address.prov + ', ' + address.pcode + "<br/>");});


                                pagejson.detail_client.contact.forEach(function(contact)
                                {$("#client_contact").append(contact.fonction + '. ' + contact.nom + ', ' + contact.phone + "<br/>");	});
                                
                                /*REFRESH WM40 MESURES READING*/
                                $("#live_data_simple_REAL_POWER span.value").html(pagejson.real_power.value+pagejson.real_power.unit);
                                //$("#live_data_simple_ACTIVE_POWER span.value").html(pagejson.real_power.value+pagejson.real_power.unit);
                                $("#live_data_simple_POWER_CONSUMPTION span.value").html(pagejson.power_consumption.value+pagejson.power_consumption.unit);
                                $("#live_data_simple_APPARENT_POWER span.value").html(pagejson.apparent_power.value+pagejson.apparent_power.unit);
                                $("#live_data_simple_POWER_FACTOR span.value").html(pagejson.power_factor.value+pagejson.power_factor.unit);
                                $("#live_data_simple_UTILISATION_FACTOR span.value").html(pagejson.utilisation_factor.value+pagejson.utilisation_factor.unit);
                                $("#live_data_simple_TENSION span.value").html(pagejson.tension.value+pagejson.tension.unit);
                                $("#live_data_simple_FREQUENCY span.value").html(pagejson.frequency.value+pagejson.frequency.unit);
                                $("#live_data_simple_TOTAL_HARMONIC_DISTORSION span.value").html(pagejson.total_harmonic_distorsion.value+pagejson.total_harmonic_distorsion.unit);
                                $("#live_data_simple_TOTAL_CURRENT_DEMAND_DISTORSION span.value").html(pagejson.total_current_demand_distorsion.value+pagejson.total_current_demand_distorsion.unit);
                                $("#live_data_simple_KFACTOR span.value").html(pagejson.k_factor.value+pagejson.k_factor.unit);
                                
                                /*REFRESH GAUGES INFORMATION*/
                  
                                window.data1 = google.visualization.arrayToDataTable([
                                  ['Label', 'Value'],
                                  [pagejson.E1.name, pagejson.E1.powerConsumptionRealPercent]
                                ]);
                                
                                window.data2 = google.visualization.arrayToDataTable([
                                  ['Label', 'Value'],
                                  [pagejson.E2.name, pagejson.E2.powerConsumptionRealPercent]
                                ]);
                                
                                window.data3 = google.visualization.arrayToDataTable([
                                  ['Label', 'Value'],
                                  [pagejson.E3.name, pagejson.E3.powerConsumptionRealPercent]
                                ]);
                                
                                window.data4 = google.visualization.arrayToDataTable([
                                  ['Label', 'Value'],
                                  [pagejson.TOTAL.name, pagejson.TOTAL.powerConsumptionRealPercent]
                                ]);

                                window.chart1.draw(window.data1, window.options);
                                window.chart2.draw(window.data2, window.options);
                                window.chart3.draw(window.data3, window.options);
                                window.chart4.draw(window.data4, window.options);
                                
                                $("#e1_pcr span.value").html(pagejson.E1.powerConsumptionReal+pagejson.E1.powerConsumptionUnit);
                                $("#e1_t span.value").html(pagejson.E1.temperatureCelcius+"C");
                                $("#e1_fu span.value").html(pagejson.E1.powerConsumptionRealPercent+"%");
                                
                                $("#e2_pcr span.value").html(pagejson.E2.powerConsumptionReal+pagejson.E2.powerConsumptionUnit);
                                $("#e2_t span.value").html(pagejson.E2.temperatureCelcius+"C");
                                $("#e2_fu span.value").html(pagejson.E2.powerConsumptionRealPercent+"%");
                                
                                $("#e3_pcr span.value").html(pagejson.E3.powerConsumptionReal+pagejson.E3.powerConsumptionUnit);
                                $("#e3_t span.value").html(pagejson.E3.temperatureCelcius+"C");
                                $("#e3_fu span.value").html(pagejson.E3.powerConsumptionRealPercent+"%");
                                
                                $("#e4_pcr span.value").html(pagejson.TOTAL.powerConsumptionReal+pagejson.TOTAL.powerConsumptionUnit);
                                $("#e4_fu span.value").html(pagejson.TOTAL.powerConsumptionRealPercent+"%");
                                
                                
                                /*REFRESH DATA [GAUGES ON OR OFF...]*/
                                if(pagejson.clock == "1"){
                                    $("#clock_on").show();
                                    $("#clock_off").hide();
                                }else if(pagejson.clock == "0"){
                                    $("#clock_off").show();
                                    $("#clock_on").hide()
                                }
                                
                                if(pagejson.E1.active == "1"){
                                    $("#e1_on").show();
                                    $("#e1_off").hide();
                                }else if(pagejson.E1.active == "0"){
                                    $("#e1_off").show();
                                    $("#e1_on").hide()
                                }
                                
                                if(pagejson.E2.active == "1"){
                                    $("#e2_on").show();
                                    $("#e2_off").hide();
                                }else if(pagejson.E2.active == "0"){
                                    $("#e2_off").show();
                                    $("#e2_on").hide()
                                }     
                                
                                if(pagejson.E3.active == "1"){
                                    $("#e3_on").show();
                                    $("#e3_off").hide();
                                }else if(pagejson.E3.active == "0"){
                                    $("#e3_off").show();
                                    $("#e3_on").hide()
                                }     
                                
                                
                                /*SHOW PAGE WITH DATA VALIDATED*/
                                $(".row").css("opacity","1");
                                $.unblockUI();
                                return false;
                        });
                        
                        
			
	}
	  
     </script>
     
     
     
     
     <script>
         /******  CLOCK - HIGHCHARTS   ******/
         
         
         
         $(function () {

    /**
     * Get the current time
     */
    function getNow() {
        var now = new Date();

        return {
            hours: now.getHours() + now.getMinutes() / 60,
            minutes: now.getMinutes() * 12 / 60 + now.getSeconds() * 12 / 3600,
            seconds: now.getSeconds() * 12 / 60
        };
    }

    /**
     * Pad numbers
     */
   /* function pad(number, length) {
        // Create an array of the remaining length + 1 and join it with 0's
        return new Array((length || 2) + 1 - String(number).length).join(0) + number;
    }*/

    var now = getNow();

    // Create the chart
    $('#container_clock').highcharts({

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            height: 160,
            width: 160
        },

        credits: {
            enabled: false
        },
        
        exporting: {
                enabled: false
            },

        title: {
            text: ''
        },

        pane: {
            background: [{
                // default background
            }, {
                // reflex for supported browsers
                backgroundColor: Highcharts.svg ? {
                    radialGradient: {
                        cx: 0.5,
                        cy: -0.4,
                        r: 1.9
                    },
                    stops: [
                        [0.5, 'rgba(255, 255, 255, 0.2)'],
                        [0.5, 'rgba(200, 200, 200, 0.2)']
                    ]
                } : null
            }]
        },

        yAxis: {
            labels: {
                distance: -20
            },
            min: 0,
            max: 12,
            lineWidth: 0,
            showFirstLabel: false,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 5,
            minorTickPosition: 'inside',
            minorGridLineWidth: 0,
            minorTickColor: '#666',

            tickInterval: 1,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            title: {
                text: 'HQ',
                style: {
                    color: '#BBB',
                    fontWeight: 'normal',
                    fontSize: '8px',
                    lineHeight: '10px'
                },
                y: 10
            }
        },

        tooltip: {
            formatter: function () {
                return this.series.chart.tooltipText;
            }
        },

        series: [{
            data: [{
                id: 'hour',
                y: now.hours,
                dial: {
                    radius: '60%',
                    baseWidth: 4,
                    baseLength: '95%',
                    rearLength: 0
                }
            }, {
                id: 'minute',
                y: now.minutes,
                dial: {
                    baseLength: '95%',
                    rearLength: 0
                }
            }, {
                id: 'second',
                y: now.seconds,
                dial: {
                    radius: '100%',
                    baseWidth: 1,
                    rearLength: '20%'
                }
            }],
            animation: false,
            dataLabels: {
                enabled: false
            }
        }]
    },

        // Move
        function (chart) {
            setInterval(function () {

                now = getNow();

                var hour = chart.get('hour'),
                    minute = chart.get('minute'),
                    second = chart.get('second'),
                    // run animation unless we're wrapping around from 59 to 0
                    animation = now.seconds === 0 ?
                        false :
                        {
                            easing: 'easeOutElastic'
                        };

                // Cache the tooltip text
                chart.tooltipText = window.time_hour + ':' + window.time_minute + ':' +window.time_second;
                    {#
                var seconds = window.time_second;
                var minutes =  seconds / 60;
                var hours = : minutes / 60;
            #}
                            
                            
                var hours =  parseInt(window.time_hour);
                var minutes = parseInt(window.time_minute)  * 12 / 60 + parseInt(window.time_second) * 12 / 3600;
                var seconds =  parseInt(window.time_second) * 12 / 60;
                            
                hour.update(hours , true, animation);
                minute.update(minutes , true, animation);
                second.update(seconds, true, animation);

            }, 1000);

        });
});

// Extend jQuery with some easing (copied from jQuery UI)
$.extend($.easing, {
    /* eslint-disable */
    easeOutElastic: function (x, t, b, c, d) {
        var s=1.70158;var p=0;var a=c;
        if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
        if (a < Math.abs(c)) { a=c; var s=p/4; }
        else var s = p/(2*Math.PI) * Math.asin (c/a);
        return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
    }
    /* eslint-enable */
});
         
         
     </script>    
    
     
     
     
     
    <script>
    /*   CHART POWER REAL CONSUMPTION   */  
    
    
    
    
    $(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container_power_chart').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = window.current_power_consumption;//Math.random();
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },
            title: {
                text: '{{"Current Power Consumption"|trans}}'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Kw'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'P',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
            }]
        });
    });
}); 
        
        
        
        
    </script>
     
     
     
     
     
     
{% endblock %}

