<footer class="footer" style="z-index:1;" [ngSwitch]="displaying">


       <div *ngSwitchCase="'dossier_create'"  class="container text-center" >
         <ul class="nav navbar-nav page_options" style="left: -150px;">
          <li ><a  (click)="callDossierSaveCreate()"><span style="" class=" showopacity glyphicon glyphicon-floppy-disk"></span> ENREGISTRER</a></li>
          <li ><a  (click)="callDossierView()"><span style="" class="showopacity glyphicon glyphicon-remove"></span> ANNULER</a></li>
        </ul>
      </div> 

       <div *ngSwitchCase="'dossier_modify'"  class="container text-center" >
         <ul class="nav navbar-nav page_options" style="left: -150px;">
          <li ><a  (click)="callDossierSaveModify()"><span style="" class=" showopacity glyphicon glyphicon-floppy-disk"></span> ENREGISTRER</a></li>
          <li ><a  (click)="callDossierView()"><span style="" class="showopacity glyphicon glyphicon-remove"></span> ANNULER</a></li>
        </ul>
      </div> 

      <div *ngSwitchCase="'dossier_view'"  class="container text-center" >
         <ul class="nav navbar-nav page_options" style="left: -250px;">
				<li ><a  (click)="callDossierModify()"><span style="" class=" showopacity glyphicon glyphicon-pencil"></span> MODIFIER</a></li>
				<li ><a  (click)="callDossierCreate()"><span style="" class="showopacity glyphicon glyphicon-plus-sign"></span> AJOUTER UN DOSSIER</a></li>
				<!--<li ><a  (click)="callDossierView()"><span style="" class=" showopacity glyphicon glyphicon-shopping-cart"></span> PANIER</a></li>-->
        <li ><a  (click)="callDossierView()"><span style="" class=" showopacity glyphicon glyphicon-list"></span> FICHE TECHNIQUE</a></li>
			</ul>
      </div>  

      
      <div *ngSwitchDefault class="container text-center" >
        <a target="_blank" href="http://ville.montreal.qc.ca/portal/page?_pageid=5798,42719714&_dad=portal&_schema=PORTAL">&copy;2016-2017. Tous droits réservés, Ville de Montréal</a>
      </div>
    
    </footer>