{% extends 'imdc.html.twig' %}

{% block title %}
{{"Login"|trans}}
{%endblock%}    


{% block body %}
{# language#}
{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
{% set frParams = params|merge({'_locale': 'fr'}) %}
{% set enParams = params|merge({'_locale': 'en'}) %}
{% set itParams = params|merge({'_locale': 'it'}) %}
    


<div class="logo"></div>
<div class="login-block">
    <h1>{{"Login"|trans}}</h1>
         
        <input  name="username" type="text" value="" placeholder="{{'Username'|trans}}" id="username" />
        <input name="password" type="password" value="" placeholder="{{'Password'|trans}}" id="password" />
        <p  id="msg_verify" style="color:red;display: none;">{{"* Please, verify the information!"|trans}}</p>
        <button onclick="submitF();">{{"Submit"|trans}}</button>
      
    <a style="display:none;" href="">{{"Forgot your password?"|trans}}</a>
            {#<div class="dropdown pull-right">
              <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{"current_language"|trans}}
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dLabel">
                {%if app.request.locale == "en"%}
                <li><a href="{{ path(app.request.attributes.get('_route'), frParams) }}">French</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), itParams) }}">Italien</a></li>
               {%elseif app.request.locale == "fr"%}
                <li><a href="{{ path(app.request.attributes.get('_route'), enParams) }}">English</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), itParams) }}">Italien</a></li>
               {%else%}
                <li><a href="{{ path(app.request.attributes.get('_route'), enParams) }}">English</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), frParams) }}">French</a></li>
               {%endif%}
              </ul>
            </div>#}   
</div>
</body>    
    
    
    
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    
<style>    
    
 </style>   
    
{% endblock %}




{%block javascripts %}

{{parent()}}
 
<script>
 $(document).ready(function(){
    
    $('input').keypress(function(e){
      if(e.keyCode==13)
            submitF();
    });
});   
    
    
    
    
 function submitF(){
    var username = $("#username").val();
    var password = $("#password").val();
    
    $.post( "{{path('_login_call')}}", 
        { username: ""+username, password: ""+password }, 
        function( data ) { 
            
     
            if (data == "done"){
                 window.location.replace("{{url('_users')}}");    
            }else{
                $("#msg_verify").show();
            }
    });
 
 }
</script>    
    
{% endblock%}