<nav class="navbar navbar-default navbar-fixed-top top_menu" style="z-index:2;">
      <div class="--container">
        <div class="navbar-header" style="float: left;">
          <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           
          <a class="navbar-brand" href="#">
             <img class="logo" src="assets/img/rosette-mtl-red.jpg" alt="">
             <span style="text-transform:uppercase;">Inventaire Immobilier</span>
          </a>
        </div>

       
       


        <div  class="--navbar-collapse --collapse hidden-xs" style="float: right;">
          <ul class="nav navbar-nav navbar-right hidden-xs">

           <li>
            <input id="search-dossier"  type="text" [(ngModel)]="this.searchbyID"  (keyup)="validate($event)" (keyup.enter)="findDossier()"  placeholder="Trouver un dossier..." name="dossier"/>
            <a (click)="findDossier()" style="    cursor: pointer;position: absolute;top: -15px;right: 0px;"><span style="    top: 18px;    font-size: 15px;    " class="pull-right  showopacity glyphicon glyphicon-search"></span></a>
           </li>

 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{login}} <span class="caret"></span></a>
              <ul class="dropdown-menu menu-user-topbar">
                <li> <a href="#" style="color:black;"> <span style="font-size:16px;margin:5px;color:black;float:left;top: -3px;" class="showopacity glyphicon glyphicon-user"></span> Pr&eacute;f&eacute;rences</a></li>
                <li> <a href="#" style="color:black;"> <span style="font-size:16px;margin:5px;color:black;float:left;top: -3px;" class="showopacity glyphicon glyphicon-off"></span> D&eacute;connexion</a></li>
                
              </ul>
            </li>

          


          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>



     <div  >
          <ul id="navbar" class="nav navbar-nav navbar-inverse navbar-collapse collapse visible-xs  menu_mobile">

           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilisateur  <span style="font-size:16px;color:white;float:right;" class="showopacity glyphicon glyphicon-user"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <a href="#"> <span style="font-size:16px;margin:5px;color:white;float:left;top: -3px;" class="showopacity glyphicon glyphicon-user"></span> Pr&eacute;f&eacute;rences</a></li>
                <li> <a href="#"> <span style="font-size:16px;margin:5px;color:white;float:left;top: -3px;" class="showopacity glyphicon glyphicon-off"></span> D&eacute;connexion</a></li>
                
              </ul>
            </li>

          <li class=""><a href="#">Inventaire<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-tasks"></span></a></li>
				  <li ><a href="#">Table de base<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-blackboard"></span></a></li>
				  <li ><a href="#">Rapports<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-list-alt"></span></a></li>
          <li ><a href="#">Recherche avanc&eacute;e<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-search"></span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">R&egrave;glements <span class="caret"></span><span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="#">R&ocirc;les</a></li>
              <li><a href="#">Applications</a></li>
              <li><a href="#">Utilisateurs</a></li>
              <li><a href="#">T&acirc;ches</a></li>
            </ul>
          </li>

          </ul>
        </div><!--/.nav-collapse -->