<nav class="navbar navbar-inverse sidebar hidden-xs" role="navigation" style="z-index:1;">
    <div class="container-fluid hidden-xs">

		<div class="--collapse --navbar-collapse hidden-xs" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav hidden-xs" style="width: 199px;    position: fixed;">
				<li class="active"><a href="#">Inventaire<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-tasks"></span></a></li>
				<li ><a href="#">Table de base<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-blackboard"></span></a></li>
				<li ><a href="#">Rapports<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-list-alt"></span></a></li>
                <li ><a href="#">Recherche avanc&eacute;e<span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-search"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">R&egrave;glements <span class="caret"></span><span style="font-size:16px;" class="pull-right  showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#">R&ocirc;les</a></li>
						<li><a href="#">Applications</a></li>
						<li><a href="#">Utilisateurs</a></li>
            <li><a href="#">T&acirc;ches</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>