 <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<div topbar> </div>
<div navbar> </div>

<!--
<topbar></topbar>

<navbar></navbar>
-->


<div class="--main container-fluid main-container" style="padding-top:50px;">

 <!-- Routed views go here -->
<router-outlet>

</router-outlet>




</div>

<div foot> </div>
<!--<foot></foot>-->

