<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
                <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                <link rel="stylesheet" href="{{asset('libs/bootstrap/css/bootstrap.min.css')}}">
                <link rel="stylesheet" href="{{asset('css/recast.css')}}">
        {% endblock %}
        
        
    </head>
    <body>
            
        {#<p class="bg-success">...</p>
        <p class="bg-danger">...</p>#}
        
        {% block body %}{% endblock %}
        
        
        {% block javascripts %}
                <script src="{{asset('libs/jQuery/jQuery-2.1.4.min.js')}}"></script>
                <script src="{{asset('libs/bootstrap/js/bootstrap.min.js')}}"></script> 
        {% endblock %}
    </body>
</html>
