{% extends 'imdc.html.twig' %}

{% block title %}  IMDC Chart    {% endblock %}

{% block content %}


    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_demo.html.twig' %}
    
    
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">    
    
    
 <div  class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
             <form>   
            <div class="form-group">
              <label for="var">{{"Measure"|trans}}</label>
                 {#power_consumption,
                 power_apparent,
                 power_factor,
                 utilisation_factor,
                 tension,
                 frequency,
                 thd,
                 tcdd,
                 k-factor#}
              
              <select name="var" id="variable" class="form-control" >
                  <option {%if var=="power_consumption" %}selected="selected"{%endif%} value="power_consumption">{{"Power Consumption"|trans}}</option>
                  <option {%if var=="power_apparent" %}selected="selected"{%endif%} value="power_apparent">{{"Apparent Power"|trans}}</option>
                  <option {%if var=="power_factor" %}selected="selected"{%endif%} value="power_factor">{{"Power Factor"|trans}}</option>
                  <option {%if var=="utilisation_factor" %}selected="selected"{%endif%} value="utilisation_factor">{{"Utilisation Factor"|trans}}</option>
                  <option {%if var=="tension" %}selected="selected"{%endif%} value="tension">{{"Tension"|trans}}</option>
                  <option {%if var=="frequency" %}selected="selected"{%endif%} value="frequency">{{"Frequency"|trans}}</option>
                  <option {%if var=="thd" %}selected="selected"{%endif%} value="thd">{{"Total Harmonic Distorsion"|trans}}</option>
                  <option {%if var=="tcdd" %}selected="selected"{%endif%} value="tcdd">{{"Total Current Demand Distorsion"|trans}}</option>
                  <option {%if var=="k-factor" %}selected="selected"{%endif%} value="k-factor">{{"K-FACTOR"|trans}}</option>
                  
              </select>
            </div> 
                  
            
            <div class="form-group">
              <label for="entry">{{"Phase"|trans}}</label>
              {#e1,e2,e3,total#}
              <select name="entry" id="entry" class="form-control" >
                  <option {%if entry=="e1" %}selected="selected"{%endif%} value="e1">1</option>
                  <option {%if entry=="e2" %}selected="selected"{%endif%} value="e2">2</option>
                  <option {%if entry=="e3" %}selected="selected"{%endif%} value="e3">3</option>
                  <option {%if entry=="total" %}selected="selected"{%endif%} value="total">{{"Total"|trans}}</option>
              </select>
            </div>      
              
              
              
            <div class="form-group">
              <label for="freq">{{"Frequence"|trans}}</label>
              {#e1,e2,e3,total#}
              <select name="freq" id="frequence" class="form-control" >
                  <option {%if freq=="year" %}selected="selected"{%endif%} value="year">{{"Year"|trans}}</option>
                  <option {%if freq=="month" %}selected="selected"{%endif%} value="month">{{"Month"|trans}}</option>
                  <option {%if freq=="day" %}selected="selected"{%endif%} value="day">{{"Day"|trans}}</option>
                  <option {%if freq=="hour" %}selected="selected"{%endif%} value="hour">{{"Hour"|trans}}</option>
                  <option {%if freq=="minute" %}selected="selected"{%endif%} value="minute">{{"Minute"|trans}}</option>
              </select>
            </div>       
              
              
              
            <div class="form-group">
              <label >{{"Date"|trans}}</label>
              
              {#e1,e2,e3,total#}
                  <label for="from">{{"from"|trans}}</label>
                  <input type="text" id="from" name="from" value="{{from}}" class="form-control">
                  <label for="to">{{"to"|trans}}</label>
                  <input type="text" id="to" name="to" value="{{to}}" class="form-control">
            </div>  
              
              
                  
            <p><a class="btn btn-primary pull-right" onclick="updateChart()" href="javascript:void(0)" role="button">{{"Update"|trans}}</a></p>  
            </form>         
            </div>
        </div>
     
        
        <div class="row" style="margin-top:40px;">
            <div class="col-md-12">
                <div id="empty_message" style="display:none;" class="alert alert-info" role="alert"><span class="glyphicon glyphicon-exclamation-sign">&nbsp;</span>{{"No data available using these parameters"|trans}}</div>
                <div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            
            </div>
        </div>    
  
   </div>

     
</div>
         
     </div>
    </div> 
    
{% endblock %}

{% block stylesheets %}
{{ parent() }}   
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/cupertino/jquery-ui.css">


<style>
    div#chart_container div#highcharts-0.highcharts-container > svg > text:last-child{opacity: 0;}
    p span.description-text{font-size: small;}
</style>
{% endblock %}


{% block javascripts %}
     {{ parent() }}
     
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('libs/jquery.blockUI.js')}}"></script> 
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    
    
<script>
$(function() {
    $( "#from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      dateFormat: "yy-mm-dd",
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      dateFormat: "yy-mm-dd",
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });    
</script>    

    
    
<script>
    function updateChart(){
        var variable    = $("#variable").val();
        var freq        = $("#frequence").val();
        var entry       = $("#entry").val();
        var from        = $("#from").val();
        var to          = $("#to").val();
        var path        = "{{path('_chart')}}";
        var ip          = "{{ip}}";
        
        var url         =  path+'/'+variable+'/'+entry+'/'+freq+'/'+ip;
        if ( from.length != 0 && to.length != 0){
                                        url = url +'/'+from+'/'+to;   
            }else{
               if ( to.length != 0)     url = url + '/0/'+to;   
               if ( from.length != 0)   url = url + '/'+from;   
            }
        window.location = url;
        //console.log(path);
        //window.location = {{path('_chart')}};
    }
</script>    
     
<script>
   
    /*
    var ranges = [
            [1246406400000, 14.3, 27.7],
            [1246492800000, 14.5, 27.8],
            [1246579200000, 15.5, 29.6],
            [1246665600000, 16.7, 30.7],
            [1246752000000, 16.5, 25.0],
            [1246838400000, 17.8, 25.7],
            [1246924800000, 13.5, 24.8],
            [1247011200000, 10.5, 21.4],
            [1247097600000, 9.2, 23.8],
            [1247184000000, 11.6, 21.8],
            [1247270400000, 10.7, 23.7],
            [1247356800000, 11.0, 23.3],
            [1247443200000, 11.6, 23.7],
            [1247529600000, 11.8, 20.7],
            [1247616000000, 12.6, 22.4],
            [1247702400000, 13.6, 19.6],
            [1247788800000, 11.4, 22.6],
            [1247875200000, 13.2, 25.0],
            [1247961600000, 14.2, 21.6],
            [1248048000000, 13.1, 17.1],
            [1248134400000, 12.2, 15.5],
            [1248220800000, 12.0, 20.8],
            [1248307200000, 12.0, 17.1],
            [1248393600000, 12.7, 18.3],
            [1248480000000, 12.4, 19.4],
            [1248566400000, 12.6, 19.9],
            [1248652800000, 11.9, 20.2],
            [1248739200000, 11.0, 19.3],
            [1248825600000, 10.8, 17.8],
            [1248912000000, 11.8, 18.5],
            [1248998400000, 10.8, 16.1]
        ];
       var averages = [
            [1246406400000, 21.5],
            [1246492800000, 22.1],
            [1246579200000, 23],
            [1246665600000, 23.8],
            [1246752000000, 21.4],
            [1246838400000, 21.3],
            [1246924800000, 18.3],
            [1247011200000, 15.4],
            [1247097600000, 16.4],
            [1247184000000, 17.7],
            [1247270400000, 17.5],
            [1247356800000, 17.6],
            [1247443200000, 17.7],
            [1247529600000, 16.8],
            [1247616000000, 17.7],
            [1247702400000, 16.3],
            [1247788800000, 17.8],
            [1247875200000, 18.1],
            [1247961600000, 17.2],
            [1248048000000, 14.4],
            [1248134400000, 13.7],
            [1248220800000, 15.7],
            [1248307200000, 14.6],
            [1248393600000, 15.3],
            [1248480000000, 15.3],
            [1248566400000, 15.8],
            [1248652800000, 15.2],
            [1248739200000, 14.8],
            [1248825600000, 14.4],
            [1248912000000, 15],
            [1248998400000, 13.6]
        ];
    */
    
    $(function () {
    
    $.blockUI({ message: null });
        
        
    /*REQUEST DATA TO RESPECTIVE REST SERVICE */    
    $.get( "http://{{ip}}/lab/raspberry_data_rest.php", $("form").serialize() )
    .done(function( data ) {
        
       
        
        var ranges      = data.ranges;//JSON.stringify(data.ranges);
        var averages    = data.averages;//JSON.stringify(data.averages);
        var messure     = ""+data.messure;
        var suffix      = ""+data.suffix;
        var catg        = data.categories;//JSON.stringify(data.categories);//

        if ( ranges.length == 0){
            $("#empty_message").show();
            $('#chart_container').hide();
        }else{
            $("#empty_message").hide();
            $('#chart_container').show();
        }

        //console.log(suffix);

        $('#chart_container').highcharts({

                    title: {
                        text: messure{#{% autoescape 'js' %}{{""|trans}}{% endautoescape %}"#}
                    },

                    exporting: {
                            enabled: false
                        },        

                    xAxis: {
                        //type: 'datetime'
                        categories: catg//['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    },

                    yAxis: {
                        title: {
                            text: null
                        }
                    },

                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        valueSuffix: suffix
                    },

                    legend: {
                    },

                    series: [{
                        name: messure,{#{% autoescape 'js' %}{{''|trans}}{% endautoescape %}",#}
                        data: averages,
                        zIndex: 1,
                        marker: {
                            fillColor: 'white',
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[0]
                        }
                    }, {
                        name: "{% autoescape 'js' %}{{'Range'|trans}}{% endautoescape %}",
                        data: ranges,
                        type: 'arearange',
                        lineWidth: 0,
                        linkedTo: ':previous',
                        color: Highcharts.getOptions().colors[0],
                        fillOpacity: 0.3,
                        zIndex: 0
                    }]
                });
                
                
            $.unblockUI();    
     
    });    
        

    /*var ranges = [
            [1246406400000, 14.3, 27.7],
            [1246492800000, 14.5, 27.8],
            [1246579200000, 15.5, 29.6],
            [1246665600000, 16.7, 30.7],
            [1246752000000, 16.5, 25.0],
            [1246838400000, 17.8, 25.7],
            [1246924800000, 13.5, 24.8],
            [1247011200000, 10.5, 21.4],
            [1247097600000, 9.2, 23.8],
            [1247184000000, 11.6, 21.8],
            [1247270400000, 10.7, 23.7],
            [1247356800000, 11.0, 23.3],
            [1247443200000, 11.6, 23.7],
            [1247529600000, 11.8, 20.7],
            [1247616000000, 12.6, 22.4],
            [1247702400000, 13.6, 19.6],
            [1247788800000, 11.4, 22.6],
            [1247875200000, 13.2, 25.0],
            [1247961600000, 14.2, 21.6],
            [1248048000000, 13.1, 17.1],
            [1248134400000, 12.2, 15.5],
            [1248220800000, 12.0, 20.8],
            [1248307200000, 12.0, 17.1],
            [1248393600000, 12.7, 18.3],
            [1248480000000, 12.4, 19.4],
            [1248566400000, 12.6, 19.9],
            [1248652800000, 11.9, 20.2],
            [1248739200000, 11.0, 19.3],
            [1248825600000, 10.8, 17.8],
            [1248912000000, 11.8, 18.5],
            [1248998400000, 10.8, 16.1]
        ],
        averages = [
            [1246406400000, 21.5],
            [1246492800000, 22.1],
            [1246579200000, 23],
            [1246665600000, 23.8],
            [1246752000000, 21.4],
            [1246838400000, 21.3],
            [1246924800000, 18.3],
            [1247011200000, 15.4],
            [1247097600000, 16.4],
            [1247184000000, 17.7],
            [1247270400000, 17.5],
            [1247356800000, 17.6],
            [1247443200000, 17.7],
            [1247529600000, 16.8],
            [1247616000000, 17.7],
            [1247702400000, 16.3],
            [1247788800000, 17.8],
            [1247875200000, 18.1],
            [1247961600000, 17.2],
            [1248048000000, 14.4],
            [1248134400000, 13.7],
            [1248220800000, 15.7],
            [1248307200000, 14.6],
            [1248393600000, 15.3],
            [1248480000000, 15.3],
            [1248566400000, 15.8],
            [1248652800000, 15.2],
            [1248739200000, 14.8],
            [1248825600000, 14.4],
            [1248912000000, 15],
            [1248998400000, 13.6]
        ];

*/
    
});
    
</script>   



     
{% endblock %}

