{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_clients.html.twig' %}
    
    
    
    {% include 'clients_breadcrumb.html.twig' with {'client_id': client_id}%}
    <div class="col-md-9  main">
        
          <h1 class="page-header">{{"Edit"|trans}} {{"bill"|trans}}</h1>
          
          <form  action="{{path('_clients_bills_edit',{ 'client_id': client_id, 'bill_id':bill.getId()})}}" method="POST" enctype="multipart/form-data" >
              <input type="hidden" value="1" name="posting">
              <input type="hidden" value="" name="ammount_total">
              <input type="hidden" value="{{bill.getFilename()}}"  name="current_file">
           
           <div class="well well-lg">     
           <div class="control-group">
                  <label class="control-label" for="inputDocument">{{"File"|trans}}</label>
                  
                  <div class="controls">
                    {%if bill.getFilename()!="" %}
                        <a target="_blank"  href="{{asset('upload/')}}{{bill.getFilename()}}"><img id="logo_img" class="img-thumbnail" style="max-width:150px;" src="{{asset('img/pdf-icon.png')}}" alt="filename"/></a>  
                    {%endif%}  
                    
                    <span class="btn btn-file">
                        {#<input type="hidden" name="MAX_FILE_SIZE" value="90000" />#}
                        <input value="{{bill.getFilename()}}"  onchange="hideLogoImg();" name="bill_file" type="file" id='inputDocument' accept="application/pdf" {#<?=  (isset($query))?'value="default_upload"':'';?>  #}/>
                        
                    </span>
                    
                  </div>  

              </div>   
            </div><!--well-->  
              
           <div class="well well-lg">   
              
              
            <div class="form-group">
              <label for="date_from">{{"Date"|trans}} {{"from"|trans}}</label>
              <input name="date_from" value="{{bill.getDateFrom()}}" type="text" class="form-control" id="date_from" placeholder=""  >
            </div>
              
              
             <div class="form-group">
              <label for="date_to">{{"Date"|trans}} {{"to"|trans}}</label>
              <input name="date_to" value="{{bill.getDateTo()}}" type="text" class="form-control" id="date_to" placeholder=""  >
            </div>
              
              
             <div class="form-group">
              <label for="days_no">{{"Days number"|trans}}</label>
              <input name="days_no" value="{{bill.getDaysNo()}}" type="text" class="form-control" id="days_no" placeholder=""  >
            </div>
              
              
              <div class="form-group">
              <label for="kwh">{{"Total power consumption (KWh)"|trans}}</label>
              <input name="kwh" value="{{bill.getKwh()}}" type="text" class="form-control" id="kwh" placeholder=""  >
            </div> 
            
              
            <div class="form-group">
              <label for="ammount_kwh">{{"Amount of total consumption ($)"|trans}}</label>
              <input name="ammount_kwh" value="{{bill.getAmmountKwh()}}" type="text" class="form-control" id="ammount_kwh" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="kw">{{"Total power billed (kW)"|trans}}</label>
              <input name="kw" value="{{bill.getKw()}}" type="text" class="form-control" id="kw" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="ammount_kw">{{"Amount billed ($)"|trans}}</label>
              <input name="ammount_kw" value="{{bill.getAmmountKw()}}" type="text" class="form-control" id="ammount_kw" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="bill_type">{{"Bill type"|trans}}</label>
              <select name="bill_type" class="form-control">
                  <option {%if bill.getBillType()=="A" %}selected="selected"{%endif%} value="A">{{"Actual"|trans}}</option>
                  <option {%if bill.getBillType()=="E" %}selected="selected"{%endif%} value="E">{{"Estimated"|trans}}</option>
              </select>    
             </div> 
              
              
             <div class="form-group">
              <label for="tarif_type">{{"Rate type"|trans}}</label>
              <select name="tarif_type" class="form-control">
                  <option {%if bill.getTarifType()=="M" %}selected="selected"{%endif%} value="M">M</option>
                  <option {%if bill.getTarifType()=="G" %}selected="selected"{%endif%} value="G">G</option>
                  <option {%if bill.getTarifType()=="D" %}selected="selected"{%endif%} value="D">D</option>
              </select>    
             </div>  
              
              
            {#  
            <div class="form-group">
              <label for="dollar">{{"Amount billed ($)"|trans}} maybe double?</label>
              <input name="dollar" value="{{bill.get()}}" type="text" class="form-control" id="dollar" placeholder=""  >
            </div> 
            #}  
            <div class="form-group">
              <label for="fa">{{"Power factor (Fa)"|trans}}</label>
              <input name="fa" value="{{bill.getFa()}}" type="text" class="form-control" id="fa" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="fu">{{"Utilization Factor (Fu)"|trans}}</label>
              <input name="fu" value="{{bill.getFu()}}" type="text" class="form-control" id="fu" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="kw_min">{{"Minimal power (kW)"|trans}}</label>
              <input name="kw_min" value="{{bill.getKwMin()}}" type="text" class="form-control" id="kw_min" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="kva">{{"Apparent Power (Kva)"|trans}}</label>
              <input name="kva" value="{{bill.getKva()}}" type="text" class="form-control" id="kva" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="kw_real">{{"Real Power (Kw)"|trans}}</label>
              <input name="kw_real" value="{{bill.getKwReal()}}" type="text" class="form-control" id="kw_real" placeholder=""  >
            </div> 
              
            </div><!-- well -->  
              
            <br>
            <h1 class="page-header">{{"Consumption Cost ($)"|trans}}</h1>
            <div class="well well-lg">
            
            <h3>{{"First X Kws"|trans}}</h3>    
                 
            <div class="form-group">
              <label for="costA_dateFrom">{{"Date"|trans}} {{"from"|trans}}</label>
              <input name="costA_dateFrom" value="{{bill.getCostADateFrom()}}" type="text" class="form-control" id="costA_dateFrom" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costA_dateTo">{{"Date"|trans}} {{"to"|trans}}</label>
              <input name="costA_dateTo" value="{{bill.getCostADateTo()}}" type="text" class="form-control" id="costA_dateTo" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costA_Kw">{{"Consumption"|trans}} (Kw)</label>
              <input name="costA_Kw" value="{{bill.getCostAKw()}}" type="text" class="form-control" id="costA_Kw" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costA_Ammount">{{"Consumption amount"|trans}} ($)</label>
              <input name="costA_Ammount" value="{{bill.getCostAAmmount()}}" type="text" class="form-control" id="costA_Ammount" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costA_division_days">{{"Days number"|trans}}</label>
              <input name="costA_division_days" value="{{bill.getCostADivisionDays()}}" type="text" class="form-control" id="costA_division_days" placeholder=""  >
            </div>
              
            <div class="form-group">
              <label for="costA_total_ammount">{{"Total amount"|trans}} ($)</label>
              <input name="costA_total_ammount" value="{{bill.getCostATotalAmmount()}}" type="text" class="form-control" id="costA_total_ammount" placeholder=""  >
            </div>
              
            <hr>
            
             <h3>{{"Rest of Kws"|trans}}</h3>  
            
             <div class="form-group">
              <label for="costB_dateFrom">{{"Date"|trans}} {{"from"|trans}}</label>
              <input name="costB_dateFrom" value="{{bill.getCostBDateFrom()}}" type="text" class="form-control" id="costB_dateFrom" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costB_dateTo">{{"Date"|trans}} {{"to"|trans}}</label>
              <input name="costB_dateTo" value="{{bill.getCostBDateTo()}}" type="text" class="form-control" id="costB_dateTo" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costB_Kw">{{"Consumption"|trans}} (Kw)</label>
              <input name="costB_Kw" value="{{bill.getCostBKw()}}" type="text" class="form-control" id="costB_Kw" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costB_Ammount">{{"Consumption amount"|trans}} ($)</label>
              <input name="costB_Ammount" value="{{bill.getCostBAmmount()}}" type="text" class="form-control" id="costB_Ammount" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="costB_division_days">{{"Days number"|trans}}</label>
              <input name="costB_division_days" value="{{bill.getCostBDivisionDays()}}" type="text" class="form-control" id="costB_division_days" placeholder=""  >
            </div>
              
            <div class="form-group">
              <label for="costB_total_ammount">{{"Total amount"|trans}} ($)</label>
              <input name="costB_total_ammount" value="{{bill.getCostBTotalAmmount()}}" type="text" class="form-control" id="costB_total_ammount" placeholder=""  >
            </div>
            
            <hr>
            
            <div class="form-group">
              <label for="costApluscostB">{{"Total Consumption Amount"|trans}} ($)</label>
              <input name="costApluscostB" value="{{bill.getCostAPlusCostB()}}" type="text" class="form-control" id="costApluscostB" placeholder=""  >
            </div> 
              
              
              
              
              
              
              
            </div> <!-- well -->
            
            <br>
            <h1 class="page-header">{{"Total consumption"|trans}}</h1>
            <div class="well well-lg">
                 
                 
             <h3>{{"First X Kwhs"|trans}}</h3>    
                 
            <div class="form-group">
              <label for="consf_dateFrom">{{"Date"|trans}} {{"from"|trans}}</label>
              <input name="consf_dateFrom" value="{{bill.getConsfDateFrom()}}" type="text" class="form-control" id="consf_dateFrom" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consf_dateTo">{{"Date"|trans}} {{"to"|trans}}</label>
              <input name="consf_dateTo" value="{{bill.getConsfDateTo()}}" type="text" class="form-control" id="consf_dateTo" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consf_Kwh">{{"Consumption KWh"|trans}}</label>
              <input name="consf_Kwh" value="{{bill.getConsfKwh()}}" type="text" class="form-control" id="consf_Kwh" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consf_ammount">{{"Consumption amount"|trans}} ($)</label>
              <input name="consf_ammount" value="{{bill.getConsfAmmount()}}" type="text" class="form-control" id="consf_ammount" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consf_total_ammount">{{"Total amount"|trans}} ($)</label>
              <input name="consf_total_ammount" value="{{bill.getConsfTotalAmmount()}}" type="text" class="form-control" id="consf_total_ammount" placeholder=""  >
            </div>
              
            
              
            <hr>
            
             <h3>{{"Rest of Kwhs"|trans}}</h3>  
            
             <div class="form-group">
              <label for="consr_dateFrom">{{"Date"|trans}} {{"from"|trans}}</label>
              <input name="consr_dateFrom" value="{{bill.getConsrDateFrom()}}" type="text" class="form-control" id="consr_dateFrom" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consr_dateTo">{{"Date"|trans}} {{"to"|trans}}</label>
              <input name="consr_dateTo" value="{{bill.getConsrDateTo()}}" type="text" class="form-control" id="consr_dateTo" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consr_Kwh">{{"Consumption KWh"|trans}}</label>
              <input name="consr_Kwh" value="{{bill.getConsrKwh()}}" type="text" class="form-control" id="consr_Kwh" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consr_ammount">{{"Consumption amount"|trans}} ($)</label>
              <input name="consr_ammount" value="{{bill.getConsrAmmount()}}" type="text" class="form-control" id="consr_ammount" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="consr_total_ammount">{{"Total amount"|trans}} ($)</label>
              <input name="consr_total_ammount" value="{{bill.getConsrTotalAmmount()}}" type="text" class="form-control" id="consr_total_ammount" placeholder=""  >
            </div>
            
            <hr>
            
            <div class="form-group">
              <label for="consf_consr_visilec_ammount">{{"Service Visilec"|trans}} ($)</label>
              <input name="consf_consr_visilec_ammount" value="{{bill.getConsfConsrVisilecAmmount()}}" type="text" class="form-control" id="consf_consr_visilec_ammount" placeholder=""  >
            </div>
            
            
            <div class="form-group">
              <label for="consf_plus_consr">{{"Total Consumption Amount"|trans}} ($)</label>
              <input name="consf_plus_consr" value="{{bill.getConsfPlusConsr()}}" type="text" class="form-control" id="consf_plus_consr" placeholder=""  >
            </div> 
                
                
                
                
                
            </div> <!-- well -->
              
            <a href="{{path("_clients_bills", { 'client_id': client_id })}}" class="btn btn-default btn-lg pull-right ">{{"Cancel"|trans}}</a>
           
            <input type="submit" class="btn btn-primary btn-lg pull-right " value="{{"Submit"|trans}}"/>
          
            </div>
          </form>
          
          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/cupertino/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('libs/timepicker/jquery-ui-timepicker-addon.css')}}">     
{% endblock %}




{% block javascripts %}
{{parent()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{{ asset('libs/timepicker/jquery-ui-timepicker-addon.js')}}"></script>

<script> $.validate(); </script>

<script>
    function hideLogoImg(){
     $("#logo_img").hide();
 }           
      
    
</script>    

<script>
 $(document).ready(function() {         
        
                    $('#date_from').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#date_to" ).datepicker( "option", "minDate", selectedDate );
                          }
                        });    
                    $('#date_to').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#date_from" ).datepicker( "option", "maxDate", selectedDate );
                          }
                        });
                    $('#costA_dateFrom').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#costA_dateTo" ).datepicker( "option", "minDate", selectedDate );
                          }
                        });   
                    $('#costA_dateTo').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#costA_dateFrom" ).datepicker( "option", "maxDate", selectedDate );
                          }
                        });   
                    $('#costB_dateFrom').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#costB_dateTo" ).datepicker( "option", "minDate", selectedDate );
                          }
                        });      
                    $('#costB_dateTo').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#costB_dateFrom" ).datepicker( "option", "maxDate", selectedDate );
                          }
                        });  
                    $('#consf_dateFrom').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#consf_dateTo" ).datepicker( "option", "minDate", selectedDate );
                          }
                        });   
                    $('#consf_dateTo').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#consf_dateFrom" ).datepicker( "option", "maxDate", selectedDate );
                          }
                        });
                    $('#consr_dateFrom').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#consr_dateTo" ).datepicker( "option", "minDate", selectedDate );
                          }
                        });   
                    $('#consr_dateTo').datepicker({
                            addSliderAccess: true,
                            sliderAccessArgs: { touchonly: false },
                            changeMonth: true,
                          numberOfMonths: 3,
                          dateFormat: "yy-mm-dd",
                          timeFormat: 'HH:mm:ss',
                          onClose: function( selectedDate ) {
                            $( "#consr_dateFrom" ).datepicker( "option", "maxDate", selectedDate );
                          }
                        }); 
                    
            });
            

              
        
</script>  


{% endblock %}


