{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_clients_v2.html.twig' %}
    
    
    
    {% include 'clients_breadcrumb.html.twig' with {'client_id': client_id}%} 
    <div class="col-md-9  main">
           
          <h1 class="page-header">{{"General information"|trans}}</h1>
          
          <form  action="{{path('_clients_bills_general',{ 'client_id': client_id})}}" method="POST">
              <input type="hidden" value="1" name="posting">
           
           <div class="well well-lg col-sm-4  col-md-5">   
              
              
            <div class="form-group">
              <label for="bill_customer_no">{{"Customer number"|trans}}</label>
              <input name="bill_customer_no" value="{{client.getBillCustomerNo()}}" type="text" class="form-control" id="bill_customer_no" placeholder=""  >
            </div>
              
              
            <div class="form-group">
              <label for="bill_account_no">{{"Account number"|trans}}</label>
              <input name="bill_account_no" value="{{client.getBillAccountNo()}}" type="text" class="form-control" id="bill_account_no" placeholder=""  >
            </div>  
            
            <div class="form-group">
              <label for="bill_contrat_no">{{"Contrat number"|trans}}</label>
              <input name="bill_contrat_no" value="{{client.getBillContratNo()}}" type="text" class="form-control" id="bill_contrat_no" placeholder=""  >
            </div>   
             
              
            <div class="form-group">
              <label for="bill_meter_compteur_id">{{"Meter counter"|trans}}</label>
              <input name="bill_meter_compteur_id" value="{{client.getBillMeterCompteurId()}}" type="text" class="form-control" id="bill_meter_compteur_id" placeholder=""  >
            </div> 
              
            <div class="form-group">
              <label for="bill_hq_code_access">{{"HQ access code"|trans}}</label>
              <input name="bill_hq_code_access" value="{{client.getBillHqCodeAccess()}}" type="text" class="form-control" id="bill_hq_code_access" placeholder=""  >
            </div>  
              
            <div class="form-group">
              <label for="bill_hq_code_password">{{"HQ password"|trans}}</label>
              <input name="bill_hq_code_password" value="{{client.getBillHqPassword()}}" type="text" class="form-control" id="bill_hq_code_password" placeholder=""  >
            </div>    
             </div><!--well-->
             
             
             <div class="well well-lg col-sm-4 col-md-offset-1  col-md-5" style="overflow-y: scroll;height: 495px">   
              
              
            <div class="form-group">
              <label for="bill_notes">{{"Notes"|trans}}</label>
              <a href="javascript:void(0);" onclick="add()">
                    <span class=" glyphicon glyphicon-plus"></span>
               </a>
              
              
              <input value="{{client.getBillNotes()}}" id="bill_notes" name="bill_notes" type="hidden">  
              <textarea  rows="5" class="form-control" id="item" ></textarea>
            
               <br/>
               <div id="list" class="list-group"></div> 
               
            </div>
           </div>   
           
                
            
           <p>
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="{{"Submit"|trans}}"/>
            </p>
            
           
          </form>
          
          
          
          
          <p></p>
          <p></p>
          </div> <!-- main -->
          
          
          
          <div class=" col-md-9  main">
          <h1 class="page-header">{{"Bills"|trans}}</h1>
          
          
          
          
          <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                <tr>
{#                   <th style="width:5%;">{{"Id"|trans}}</th>#}
                   
                   <th style="width:16%;">{{"Date"|trans}} {{"from"|trans}}</th>
                   <th style="width:16%;">{{"Date"|trans}} {{"to"|trans}}</th>
                   <th style="width:16%;">{{"Consumption"|trans}} (Kw)</th>
                   <th style="width:16%;">{{"Amount"|trans}} ($)</th>
                   <th style="width:16%;">{{"File"|trans}}</th>
                   <th style="width:20%;"></th>
                </tr>
               </thead>  
            <tbody>
                
                
            {% for bill in client.getBills() %}
                    
                        <tr style="cursor:pointer;">

{#                        <td>{{bill.id}}</td>#}
                        
                        <td>{{bill.getDateFrom()}}</td>
                        <td>{{bill.getDateTo()}}</td>
                        <td>{{bill.getKw()}}</td>
                        <td>{{bill.getAmmountKw()}}</td>
                        <td><a target="_blank"  href="{{asset('upload/')}}{{bill.getFilename()}}"><img width="30" src="{{asset('img/pdf-icon.png')}}" alt="pdf"/></a></td>
                      
                        
                        <td>
                            <a href='{{path("_clients_bills_edit", { 'client_id': client_id, 'bill_id':bill.id })}}'><span class="glyphicon glyphicon-pencil"></span></a>   
                            
                            
                            <a href="{{path("_clients_bills_delete", { 'client_id': client_id, 'bill_id':bill.id })}}"><span data-toggle="tooltip" data-placement="top" title="{{"Delete"|trans}}" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            
                        </td>
                      </tr>
                    
            {% endfor %}    
              
            
            
            </tbody>  
            </table>
            
            <p>
                <a class="btn btn-primary  btn-lg pull-right" href="{{path("_clients_bills_create", { 'client_id': client_id })}}" role="button">{{"Add new bill"|trans}}</a>
                <a style="margin-right: 10px;" class="btn btn-primary  btn-lg pull-right" href="{{path("_clients_bills_create_m", { 'client_id': client_id })}}" role="button">{{"Add new 'M' bill"|trans}}</a>
            
            </p>
           
            
          </div>
          
          </div>
          
          
          
          
          
          
          
          
          
          

          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}



{% block javascripts %}
{{parent()}}

<script>
$(document).ready(function() {
                  rebuild();
            });    
    
    
    
    
function add(){
        var item            = $("#item").val();
        var items           = new Array();
        var list            = $("#bill_notes").val();
        var d               = new Date();
        var date_string     = d.toLocaleString();
        
        item = date_string + ": "+item;
        if (item.length == 0){
            return 0;
        }
        
        if (list.length > 0){
            items = eval(list);
        }
        
        //ADD ADDRESS TO THE LIST
        items.push(item);
        
        
        //SAVE LIST IN  THE INPUT
        $("#bill_notes").val(JSON.stringify(items));
        
        //REBUILD THE LIST
        rebuild();
        
        //REMOVE ADDRESS TEXT
        $("#item").val("");
        
    }
    
    function del(id){
        
        var list    = $("#bill_notes").val();
        var items = eval(list);
        
        //SUPPRIME THE ITEM FROM THE LIST
        items.splice(id, 1);
        
        //SAVE THE LIST WITHOUT THE ITEM
        $("#bill_notes").val(JSON.stringify(items));
        
        //REBUILD THE LIST
        rebuild();
        
    }
    
    function rebuild(){
         var items            = eval($("#bill_notes").val());
         var id_item            = 0;
     
         
        if (typeof items === 'undefined'){
            return 0;
        }
        
         $("#list").html("");
         items.forEach(function(item) {
             $("#list").append('<div class="list-group-item">'+item+'<a onclick="del('+id_item+');" href="javascript:void(0);" >'+'<span class=" pull-right glyphicon glyphicon-minus"></span></a></div>');
             id_item++;
        //console.log(item);
        });
    }
        
    
</script>     
{% endblock %}