{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_clients_v2.html.twig' %}
    
    
    
    {% include 'clients_breadcrumb.html.twig' with {'client_id': client.id}%}
    <div class="col-md-9 main">
            
          <h1 class="page-header">{{"Edit"|trans}} {{"Total Power presets"|trans}}</h1>
          
          <form  action="{{path('_active_power_presets_edit',{ 'client_id': client.id, 'bill_id': bill.id})}}" method="POST">
              <input type="hidden" value="1" name="posting">
           
           <div class="well well-lg">   
                
                
            <div class="form-group inline">
              <label for="date_from">{{"Date"|trans}} {{"from"|trans}}</label>
              <p><span id="date_from">{{bill.getDateFrom()}}</span></p>
            </div>     
               
            
           <div class="form-group inline">
              <label for="date_to">{{"Date"|trans}} {{"to"|trans}}</label>
              <p><span id="date_to">{{bill.getDateTo()}}</span></p>
            </div>     
                
                
           <div class="form-group">
              <label for="h_power">{{"Historic Power"|trans}} (Kw) </label>
              <p><span id="h_power">{{bill.getKw()}}</span></p>
            </div>   
               
                
                
           <div class="form-group">
              <label for="av_power">{{"Available Power"|trans}} (Kw) <span data-toggle="tooltip" data-placement="right" title="{{"Sum of power in entries"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
              <p><span id="av_power">{{sum}}</span></p>
            </div>     
                
                
           <div class="form-group">
              <label for="min_power">{{"Minimal Power"|trans}} (Kw) <span data-toggle="tooltip" data-placement="right" title="[{{"Historic Power"|trans}} - {{"Available Power"|trans}}] {{"or Custom Value"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
              <p><span id="min_power">{{max}}</span></p>
            </div>     
               
              
            <div class="form-group">
              <label for="bill_preset">{{"Preset"|trans}} <span data-toggle="tooltip" data-placement="right" title="[{{"Historic Power"|trans}} - {{"Available Power"|trans}}] {{"or Custom Value"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
              <input name="bill_preset" value="{{preset}}" type="text" class="form-control" id="bill_preset" placeholder=""  >
            </div>
              
                
             </div><!--well-->
                
            
           <p>
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="{{"Submit"|trans}}"/>
            </p>
            
           
          </form>
          
          
          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}
