{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_clients_v2.html.twig' %}
    
    
    
    {% include 'clients_breadcrumb.html.twig' with {'client_id': client.id}%}  
    <div class=" col-md-9 main">
          
          <h1 class="page-header">{{"Total Power presets"|trans}}</h1>
          
          
          
          <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                <tr>
{#                   <th style="width:5%;">{{"Id"|trans}}</th>#}
                   
                   <th style="width:16%;">{{"Date"|trans}} {{"from"|trans}}</th>
                   <th style="width:16%;">{{"Date"|trans}} {{"to"|trans}}</th>
                   <th style="width:16%;">{{"Historic Power"|trans}} <span data-toggle="tooltip" data-placement="right" title="{{"Total power billed"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></th>
                   <th style="width:16%;">{{"Available Power"|trans}} <span data-toggle="tooltip" data-placement="right" title="{{"Sum of power in entries"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></th>
                   <th style="width:16%;">{{"Minimal Power"|trans}} <span data-toggle="tooltip" data-placement="right" title="{{"Maximal power in entries"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></th>
                   <th style="width:16%;">{{"Preset"|trans}} <span data-toggle="tooltip" data-placement="right" title="[{{"Historic Power"|trans}} - {{"Available Power"|trans}}] {{"or Custom Value"|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></th>
                   <th style="width:4%;"></th>
                </tr>
               </thead>  
            <tbody>
                
                
            {% for bill in bills %}
                    
                        <tr style="cursor:pointer;">

{#                        <td>{{bill.id}}</td>#}
                        
                        <td>{{bill["date_from"]}}</td>
                        <td>{{bill["date_to"]}}</td>
                        <td>{{bill["kw"]}}</td>
                        <td>{{bill["total_entries"]}}</td><!-- Consumption available for entries E1+E2+E3. Set in Client-Edit Page-->
                        <td>{{bill["max_entry"]}}</td><!-- Consumption minimal bigger between entries [E1,E2,E3]. Set in Client-Edit Page-->
                        <td>{{bill["bill_preset"]}}</td><!-- Third Column - Fourth Column or... one edited manually-->
                        
                        <td>
                            <a href='{{path("_active_power_presets_edit", { 'client_id': client.id, 'bill_id':bill["id"] })}}'><span class="glyphicon glyphicon-pencil"></span></a>      
                        </td>
                      </tr>
                    
            {% endfor %}    
              
            
            
            </tbody>  
            </table>
               
          </div>
          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}
