{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_clients_v2.html.twig' %}
    
    
    
    {% include 'clients_breadcrumb.html.twig' with {'client_id': client.id}%} 
    <div class="col-md-9  main">
         
        
        <h1 class="page-header">{{"Presets"|trans}}</h1>
        
        
        
        
          <form  action="{{path('_clients_presets',{ 'client_id': client.id})}}" method="POST" enctype="multipart/form-data">
               <input type="hidden" name="sended" value="1"/>
              
              
               <h3>{{"Presets"|trans}} <!-- <span data-toggle="tooltip" data-placement="top" title="" class="glyphicon glyphicon-info-sign"></span>--></h3>
               <input value="{{client.getPresetSystem()}}" type="hidden" name="preset" id="preset"/>
               
               <div class="well well-lg form-inline">
                  
                   
                   
                   <h4>{{"System"|trans}} <a href="javascript:void(0);" onclick="addPresets()">
                                                    <span class=" glyphicon glyphicon-plus"></span>
                                                </a>
                    </h4>
                                                    
                                                    
                  <div class="form-group">
                    <label  for="time_on">{{"Time ON"|trans}}</label>
                    <input value=""  id="system_time_on"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label for="time_off">{{"Time OFF"|trans}}</label>
                    <input value="" id="system_time_off"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label  for="system_preset">{{"Preset"|trans}}&nbsp;<span data-toggle="tooltip" data-placement="right" title="{{"Maximum consumption allowed. Just numbers allowed."|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
                    <input value="" id="system_preset"   type="text" class="form-control"   placeholder="Kw">
                  </div>
                  
                    
                   <div class="form-group">
                    <label  for="system_preset">{{"Days"|trans}}&nbsp;</label>
                    <input id="system_sunday" checked="checked"  type="checkbox" name="system_days[]" value="Sunday" />{{"Sunday"|trans}}
                    <input id="system_monday" checked="checked"  type="checkbox" name="system_days[]" value="Monday" />{{"Monday"|trans}}
                    <input id="system_tuesday" checked="checked"  type="checkbox" name="system_days[]" value="Tuesday" />{{"Tuesday"|trans}}
                    <input id="system_wednesday" checked="checked"  type="checkbox" name="system_days[]" value="Wednesday" />{{"Wednesday"|trans}}
                    <input id="system_thursday" checked="checked"  type="checkbox" name="system_days[]" value="Thursday" />{{"Thursday"|trans}}
                    <input id="system_friday" checked="checked"  type="checkbox" name="system_days[]" value="Friday" />{{"Friday"|trans}}
                    <input id="system_saturday" checked="checked"  type="checkbox" name="system_days[]" value="Saturday" />{{"Saturday"|trans}}
                  </div>
                    
                    
                
                  <p></p>
            
                  <div id="system_preset_list" class="list-group">
                    {#<a href="#" class="list-group-item">Dapibus ac facilisis in
                        <span class=" pull-right glyphicon glyphicon-minus"></span>
                    </a>#}
                  </div>
                  <p></p>
                   
                  
                  
                  <h4>{{"First Entry"|trans}} <a href="javascript:void(0);" onclick="addPresetsE1('e1');">
                                                    <span class=" glyphicon glyphicon-plus"></span>
                                                </a>
                    </h4>
                                                    
                  <input value="{{client.getPresetEntry1()}}" type="hidden" name="e1_preset" id="e1_preset"/>                                  
                  <div class="form-group">
                    <label  for="e1_time_on">{{"Time ON"|trans}}</label>
                    <input value=""  id="e1_time_on"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label for="e1_time_off">{{"Time OFF"|trans}}</label>
                    <input value="" id="e1_time_off"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label  for="e1_percent">{{"Percent"|trans}}&nbsp;<span data-toggle="tooltip" data-placement="right" title="{{"Percent. Just numbers allowed."|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
                    <input value="" id="e1_percent"   type="text" class="form-control"   placeholder="%">
                  </div>
                  
                    
                 <div class="form-group">
                    <label  for="system_preset">{{"Days"|trans}}&nbsp;</label>
                    <input id="e1_sunday" checked="checked"  type="checkbox" name="e1_days[]" value="Sunday" />{{"Sunday"|trans}}
                    <input id="e1_monday" checked="checked"  type="checkbox" name="e1_days[]" value="Monday" />{{"Monday"|trans}}
                    <input id="e1_tuesday" checked="checked"  type="checkbox" name="e1_days[]" value="Tuesday" />{{"Tuesday"|trans}}
                    <input id="e1_wednesday" checked="checked"  type="checkbox" name="e1_days[]" value="Wednesday" />{{"Wednesday"|trans}}
                    <input id="e1_thursday" checked="checked"  type="checkbox" name="e1_days[]" value="Thursday" />{{"Thursday"|trans}}
                    <input id="e1_friday" checked="checked"  type="checkbox" name="e1_days[]" value="Friday" />{{"Friday"|trans}}
                    <input id="e1_saturday" checked="checked"  type="checkbox" name="e1_days[]" value="Saturday" />{{"Saturday"|trans}}
                  </div>
                
                  <p></p>
            
                  <div id="e1_preset_list" class="list-group">
                    {#<a href="#" class="list-group-item">Dapibus ac facilisis in
                        <span class=" pull-right glyphicon glyphicon-minus"></span>
                    </a>#}
                  </div>
                  <p></p>
                  
                  
                  
                  
                  
                  
                  
                   <h4>{{"Second Entry"|trans}} <a href="javascript:void(0);" onclick="addPresetsE1('e2');">
                                                    <span class=" glyphicon glyphicon-plus"></span>
                                                </a>
                    </h4>
                                                    
                  <input value="{{client.getPresetEntry2()}}" type="hidden" name="e2_preset" id="e2_preset"/>                                  
                  <div class="form-group">
                    <label  for="e2_time_on">{{"Time ON"|trans}}</label>
                    <input value=""  id="e2_time_on"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label for="e2_time_off">{{"Time OFF"|trans}}</label>
                    <input value="" id="e2_time_off"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label  for="e2_percent">{{"Percent"|trans}}&nbsp;<span data-toggle="tooltip" data-placement="right" title="{{"Percent. Just numbers allowed."|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
                    <input value="" id="e2_percent"   type="text" class="form-control"   placeholder="%">
                  </div>
                  
                  <div class="form-group">
                    <label  for="system_preset">{{"Days"|trans}}&nbsp;</label>
                    <input id="e2_sunday" checked="checked"  type="checkbox" name="e2_days[]" value="Sunday" />{{"Sunday"|trans}}
                    <input id="e2_monday" checked="checked"  type="checkbox" name="e2_days[]" value="Monday" />{{"Monday"|trans}}
                    <input id="e2_tuesday" checked="checked"  type="checkbox" name="e2_days[]" value="Tuesday" />{{"Tuesday"|trans}}
                    <input id="e2_wednesday" checked="checked"  type="checkbox" name="e2_days[]" value="Wednesday" />{{"Wednesday"|trans}}
                    <input id="e2_thursday" checked="checked"  type="checkbox" name="e2_days[]" value="Thursday" />{{"Thursday"|trans}}
                    <input id="e2_friday" checked="checked"  type="checkbox" name="e2_days[]" value="Friday" />{{"Friday"|trans}}
                    <input id="e2_saturday" checked="checked"  type="checkbox" name="e2_days[]" value="Saturday" />{{"Saturday"|trans}}
                  </div>      
                  <p></p>
            
                  <div id="e2_preset_list" class="list-group">
                    {#<a href="#" class="list-group-item">Dapibus ac facilisis in
                        <span class=" pull-right glyphicon glyphicon-minus"></span>
                    </a>#}
                  </div>
                  <p></p>
                  
                  
                  
                  
                  <h4>{{"Third Entry"|trans}} <a href="javascript:void(0);" onclick="addPresetsE1('e3');">
                                                    <span class=" glyphicon glyphicon-plus"></span>
                                                </a>
                    </h4>
                                                    
                  <input value="{{client.getPresetEntry3()}}" type="hidden" name="e3_preset" id="e3_preset"/>                                  
                  <div class="form-group">
                    <label  for="e3_time_on">{{"Time ON"|trans}}</label>
                    <input value=""  id="e3_time_on"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label for="e3_time_off">{{"Time OFF"|trans}}</label>
                    <input value="" id="e3_time_off"   type="text" class="form-control"   placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label  for="e3_percent">{{"Percent"|trans}}&nbsp;<span data-toggle="tooltip" data-placement="right" title="{{"Percent. Just numbers allowed."|trans}}" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></label>
                    <input value="" id="e3_percent"   type="text" class="form-control"   placeholder="%">
                  </div>
                  
                    
                  <div class="form-group">
                    <label  for="system_preset">{{"Days"|trans}}&nbsp;</label>
                    <input id="e3_sunday" checked="checked"  type="checkbox" name="e3_days[]" value="Sunday" />{{"Sunday"|trans}}
                    <input id="e3_monday" checked="checked"  type="checkbox" name="e3_days[]" value="Monday" />{{"Monday"|trans}}
                    <input id="e3_tuesday" checked="checked"  type="checkbox" name="e3_days[]" value="Tuesday" />{{"Tuesday"|trans}}
                    <input id="e3_wednesday" checked="checked"  type="checkbox" name="e3_days[]" value="Wednesday" />{{"Wednesday"|trans}}
                    <input id="e3_thursday" checked="checked"  type="checkbox" name="e3_days[]" value="Thursday" />{{"Thursday"|trans}}
                    <input id="e3_friday" checked="checked"  type="checkbox" name="e3_days[]" value="Friday" />{{"Friday"|trans}}
                    <input id="e3_saturday" checked="checked"  type="checkbox" name="e3_days[]" value="Saturday" />{{"Saturday"|trans}}
                  </div>  
                
                  <p></p>
            
                  <div id="e3_preset_list" class="list-group">
                    {#<a href="#" class="list-group-item">Dapibus ac facilisis in
                        <span class=" pull-right glyphicon glyphicon-minus"></span>
                    </a>#}
                  </div>
                  <p></p>
                   
                   
                   
                  
                
                  
              </div>
         
              
              
              
              
            
              
              
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="{{"Submit"|trans}}"/>
          </form>
          
          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/cupertino/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('libs/timepicker/jquery-ui-timepicker-addon.css')}}">    

<style>
    input[type="text"]{    max-width: 100px;}
</style>    
{% endblock %}




{% block javascripts %}
{{parent()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{{ asset('libs/timepicker/jquery-ui-timepicker-addon.js')}}"></script>

<script> $.validate(); </script>

<script>
 $(document).ready(function() {
                    rebuildPresets();
                  
                    $('#system_time_on').timepicker({});   
                    $('#system_time_off').timepicker({}); 

                    $('#e1_time_on').timepicker({});   
                    $('#e1_time_off').timepicker({}); 

                    $('#e2_time_on').timepicker({});   
                    $('#e2_time_off').timepicker({}); 

                    $('#e3_time_on').timepicker({});   
                    $('#e3_time_off').timepicker({}); 
                    
                    //RECREATE THE DATA OF THE CLIENT USING THE DATA STORED
                    rebuildPresets();
                    rebuildPresetsE1('e1');
                    rebuildPresetsE1('e2');
                    rebuildPresetsE1('e3');


            });
            

              
        
</script>    


<script>
function addPresets(){
        var preset_item    = new Array();
            
        preset_item["system_time_on"]   = $("#system_time_on").val();
        preset_item["system_time_off"]  = $("#system_time_off").val();
        preset_item["system_preset"]    = $("#system_preset").val();
        
        var preset         = new Array();
        var preset_list    = $("#preset").val();
        
        if (preset_item["system_time_on"].length == 0 ||
            preset_item["system_time_off"].length == 0 ||
            preset_item["system_preset"].length == 0){
            
            return 0;
        }
        
        var days = "[";
        var days_a = $('input[name="system_days[]"]:checked');
        var i = 0;
        days_a.each(function(){
            if (i>0) days += ",";
            
            days += '"'+this.value+'"';  
            i++;
        });
        days += "]";
        
        
        if (preset_list.length > 0){
            preset = eval(preset_list);
        }
        
        //ADD ADDRESS TO THE LIST
        //preset.push(preset_item);
        preset.push("{'time_on':'"+preset_item["system_time_on"]+"','time_off':'"+preset_item["system_time_off"]+"','preset':'"+preset_item["system_preset"]+"', 'days':'"+days+"'}");

        //SAVE LIST IN  THE INPUT
        $("#preset").val(JSON.stringify(preset));
        
        //console.log(preset); return 0;
        
        //REBUILD THE LIST
        rebuildPresets();
        
        //REMOVE ADDRESS TEXT
        $("#system_time_on").val("");
        $("#system_time_off").val("");
        $("#system_preset").val("");
        
    }
    
    function deletePresets(id){
        
        var preset_list    = $("#preset").val();
        var preset = eval(preset_list);
        
        //SUPPRIME THE ITEM FROM THE LIST
        preset.splice(id, 1);
        
        //SAVE THE LIST WITHOUT THE ITEM
        $("#preset").val(JSON.stringify(preset));
        
        //REBUILD THE LIST
        rebuildPresets();
        
    }
    
    function rebuildPresets(){
         var preset            = eval($("#preset").val());
         var id_item            = 0;
     
         
        if (typeof preset === 'undefined'){
            return 0;
        }
        
         $("#system_preset_list").html("");
         preset.forEach(function(item) {
             
              var current = eval("("+item+")");
            
             $("#system_preset_list").append('<div class="list-group-item">Time ON: '+current.time_on+', Time OFF: '+current.time_off+', Preset: '+current.preset+', Days: '+current.days+'<a onclick="deletePresets('+id_item+');" href="javascript:void(0);" > <span class=" pull-right glyphicon glyphicon-minus"></span></a></div>');
            
             id_item++;
       
        });
    }
        
    
</script>    



<script>
function addPresetsE1(listId){
        var preset_item    = new Array();
            
        preset_item["time_on"]   = $("#"+listId+"_time_on").val();
        preset_item["time_off"]  = $("#"+listId+"_time_off").val();
        preset_item["percent"]    = $("#"+listId+"_percent").val();
        
        var preset         = new Array();
        var preset_list    = $("#"+listId+"_preset").val();
        
        //console.log(preset_item); return 0;
        
        if (preset_item["time_on"].length == 0 ||
            preset_item["time_off"].length == 0 ||
            preset_item["percent"].length == 0){
            
            return 0;
        }
        
        
        var days = "[";
        var days_a = $('input[name="'+listId+'_days[]"]:checked');
        var i = 0;
        days_a.each(function(){
            if (i>0) days += ",";
            
            days += '"'+this.value+'"';  
            i++;
        });
        days += "]";
        
        
        if (preset_list.length > 0){
            preset = eval(preset_list);
        }
        
        //ADD ADDRESS TO THE LIST
        preset.push("{'time_on':'"+preset_item["time_on"]+"','time_off':'"+preset_item["time_off"]+"','percent':'"+preset_item["percent"]+"', 'days':'"+days+"'}");
       

        //SAVE LIST IN  THE INPUT
        $("#"+listId+"_preset").val(JSON.stringify(preset));
        
        //console.log(preset); return 0;
        
        //REBUILD THE LIST
        rebuildPresetsE1(listId);
        
        //REMOVE ADDRESS TEXT
        $("#"+listId+"_time_on").val("");
        $("#"+listId+"_time_off").val("");
        $("#"+listId+"_percent").val("");
        
    }
    
    function deletePresetsE1(id,listId){
        
        var preset_list    = $("#"+listId+"_preset").val();
        var preset = eval(preset_list);
        
        //SUPPRIME THE ITEM FROM THE LIST
        preset.splice(id, 1);
        
        //SAVE THE LIST WITHOUT THE ITEM
        $("#"+listId+"_preset").val(JSON.stringify(preset));
        
        //REBUILD THE LIST
        rebuildPresetsE1(listId);
        
    }
    
    function rebuildPresetsE1(listId){
         var preset            = eval($("#"+listId+"_preset").val());
         var id_item            = 0;
     
         
        if (typeof preset === 'undefined'){
            return 0;
        }
        
         $("#"+listId+"_preset_list").html("");
         preset.forEach(function(item) {
             var current = eval("("+item+")");
            // console.log(current);
             $("#"+listId+"_preset_list").append('<div class="list-group-item">Time ON: '+current.time_on+', Time OFF: '+current.time_off+', Percent: '+current.percent+', Days: '+current.days+'<a onclick="deletePresetsE1('+id_item+',\''+listId+'\');" href="javascript:void(0);" > <span class=" pull-right glyphicon glyphicon-minus"></span></a></div>');
             id_item++;
        //console.log(item);
        });
    }
        
    
</script> 



{% endblock %}


