{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
{#        {% include 'sidebar_clients.html.twig' %}#}
    
    
    
    {% include 'clients_breadcrumb_reduced.html.twig'%}
    <div class="col-md-12 main">
         
          <h1 class="page-header">{{"Clients"|trans}}</h1>
          
          <form  action="{{path('_clients_create')}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">{{"Name"|trans}}</label>
              <input name="name" data-validation="required" type="text" class="form-control" id="name" placeholder="{{"Name"|trans}}"  data-validation-error-msg="{{"You have not answered all required fields"|trans}}">
            </div>
            
            
          {#  <div class="form-group">
                <label for="logo_url">{{"Logo"|trans}}</label>
                <input type="file" id="logo_url">
                <p class="help-block">Example block-level help text here.</p>
            </div>#}
            
            
             <div class="control-group">
                  <label class="control-label" for="inputDocument">{{"Logo"|trans}}</label>
                  <div class="controls">
                    <span class="btn btn-file">
                        {#<input type="hidden" name="MAX_FILE_SIZE" value="90000" />#}
                        <input name="logo" type="file" data-validation="required"  id='inputDocument' accept="image/*" data-validation-error-msg="{{"You have not answered all required fields"|trans}}"{#<?=  (isset($query))?'value="default_upload"':'';?>  #}/>
                    </span>

                  </div>

              </div>
              
            
           
            <div class="form-group">
              <label for="server_ip">{{"Server IP"|trans}}</label>
              <input name="server_ip" data-validation="required" type="text" class="form-control" id="server_ip" placeholder="127.0.0.1"  data-validation-error-msg="{{"You have not answered all required fields"|trans}}">
            </div>
            
            
           
            <div class="form-group">
              <label for="server_id">{{"Server ID"|trans}}</label>
              <input name="server_id" data-validation="required" type="text" class="form-control" id="server_id" placeholder=""  data-validation-error-msg="{{"You have not answered all required fields"|trans}}">
            </div>
            
            
            <div class="form-group">
              <input id="address" name="address" type="hidden" value="" data-validation="required" data-validation-error-msg="{{"You have not answered all required fields"|trans}}">  
              <label for="address_item">{{"Address(es)"|trans}}</label>
              <a href="javascript:void(0);" onclick="addAddress()">
                    <span class=" glyphicon glyphicon-plus"></span>
                </a>
              
              
              <input name="address_item" type="text" class="form-control" id="address_item" placeholder="{{"NUMBER, STREET, PROVINCE, ZIP"|trans}}"  >
              
              <br/>
            
              <div id="address_list" class="list-group">
                {#<a href="#" class="list-group-item">Dapibus ac facilisis in
                    <span class=" pull-right glyphicon glyphicon-minus"></span>
                </a>#}
              </div>
            
            
            </div>
              
            
              
              
              
              <div class="form-group">
              <input id="contact" name="contact" type="hidden" value="" data-validation="required" data-validation-error-msg="{{"You have not answered all required fields"|trans}}">  
              <label for="address_item">{{"Contact(s)"|trans}}</label>
              <a href="javascript:void(0);" onclick="addContact()">
                    <span class=" glyphicon glyphicon-plus"></span>
                </a>
              
              
              <input name="contact_item" type="text" class="form-control" id="contact_item" placeholder="{{"TITLE, FULLNAME, PHONE NUMBER EXT, EMAIL"|trans}}"  >
              
              <br/>
            
              <div id="contact_list" class="list-group">
                {#<a href="#" class="list-group-item">Dapibus ac facilisis in
                    <span class=" pull-right glyphicon glyphicon-minus"></span>
                </a>#}
              </div>
            
            
            </div>
            
              
             {# 
             <h3>{{"Previous bills"|trans}}  <span data-toggle="tooltip" data-placement="top" title="{{"All data must be introduced using just numerical values."|trans}}" class="glyphicon glyphicon-info-sign"></span></h3>
              <div class="well well-lg form-inline">
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_year">{{"Year"|trans}}</label>
                    <input type="text" class="form-control" id="history_year" name="history['year']" placeholder="2015">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_january">{{"January"|trans}}</label>
                    <input type="text" name="history['jan']['c']" class="form-control" id="history_consumption_january" placeholder="KW">
                    <input type="text" name="history['jan']['p']" class="form-control" id="history_payment_january" placeholder="$">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_february">{{"February"|trans}}</label>
                    <input type="text" name="history['feb']['c']" class="form-control" id="history_consumption_february" placeholder="KW">
                    <input type="text" name="history['feb']['p']" class="form-control" id="history_payment_february" placeholder="$">
                  </div>  
                   <p></p>
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_mars">{{"Mars"|trans}}</label>
                    <input type="text" name="history['mar']['c']" class="form-control" id="history_consumption_mars" placeholder="KW">
                    <input type="text" name="history['mar']['p']" class="form-control" id="history_payment_mars" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_avril">{{"Avril"|trans}}</label>
                    <input type="text" name="history['avr']['c']" class="form-control" id="history_consumption_avril" placeholder="KW">
                    <input type="text" name="history['avr']['p']" class="form-control" id="history_payment_avril" placeholder="$">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_may">{{"May"|trans}}</label>
                    <input type="text" name="history['mai']['c']" class="form-control" id="history_consumption_may" placeholder="KW">
                    <input type="text" name="history['mai']['p']" class="form-control" id="history_payment_may" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_june">{{"June"|trans}}</label>
                    <input type="text" name="history['jun']['c']" class="form-control" id="history_consumption_june" placeholder="KW">
                    <input type="text" name="history['jun']['p']" class="form-control" id="history_payment_june" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_jully">{{"July"|trans}}</label>
                    <input type="text" name="history['jul']['c']" class="form-control" id="history_consumption_jully" placeholder="KW">
                    <input type="text" name="history['jul']['p']" class="form-control" id="history_payment_jully" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_august">{{"August"|trans}}</label>
                    <input type="text" name="history['aug']['c']" class="form-control" id="history_consumption_august" placeholder="KW">
                    <input type="text" name="history['aug']['p']" class="form-control" id="history_payment_august" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_september">{{"September"|trans}}</label>
                    <input type="text" name="history['sep']['c']" class="form-control" id="history_consumption_september" placeholder="KW">
                    <input type="text" name="history['sep']['p']" class="form-control" id="history_payment_september" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_october">{{"October"|trans}}</label>
                    <input type="text" name="history['oct']['c']" class="form-control" id="history_consumption_october" placeholder="KW">
                    <input type="text" name="history['oct']['p']" class="form-control" id="history_payment_october" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_november">{{"November"|trans}}</label>
                    <input type="text" name="history['nov']['c']" class="form-control" id="history_consumption_november" placeholder="KW">
                    <input type="text" name="history['nov']['p']" class="form-control" id="history_payment_november" placeholder="$">
                  </div>
                  <p></p>  
                  <div class="form-group">
                    <label style="min-width:100px;" for="history_december">{{"December"|trans}}</label>
                    <input type="text" name="history['dec']['c']" class="form-control" id="history_consumption_december" placeholder="KW">
                    <input type="text" name="history['dec']['p']" class="form-control" id="history_payment_december" placeholder="$">
                  </div>    
                  
              </div>#}
              
              
         
            
             <h3>{{"Entries"|trans}} <!-- <span data-toggle="tooltip" data-placement="top" title="" class="glyphicon glyphicon-info-sign"></span>--></h3>
              <div class="well well-lg form-inline">
                  
                  <h4>{{"First Entry"|trans}}</h4>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry1_name">{{"Name"|trans}}</label>
                    <input name="entries['first']['name']" id="entry1_name"   type="text" class="form-control" id="entry1_name"  placeholder="Entry1">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry1_kw">{{"Power"|trans}} (Kw)</label>
                    <input name="entries['first']['kw']" id="entry1_kw"   type="text" class="form-control" id="entry1_kw"  placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry1_priority">{{"Priority"|trans}}</label>
                    <input value="" name="entries['first']['priority']" id="entry1_priority"   type="text" class="form-control"   placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry1_percent">{{"Percentage (%)"|trans}}</label>
                    <input name="entries['first']['percent']" id="entry1_percent"   type="text" class="form-control" id="entry1_percent"  placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry1_temperature">{{"Heat alarm (C)"|trans}}</label>
                    <input name="entries['first']['temperature']" id="entry1_temperature"   type="text" class="form-control" id="entry1_temperature"  placeholder="25">
                  </div>
                  <p></p>
                                    
                  <h4>{{"Second Entry"|trans}}</h4>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry2_name">{{"Name"|trans}}</label>
                    <input name="entries['second']['name']" id="entry2_name"   type="text" class="form-control" id="entry1_name"  placeholder="Entry2">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry2_kw">{{"Power"|trans}} (Kw)</label>
                    <input name="entries['second']['kw']" id="entry2_kw"   type="text" class="form-control" id="entry1_kw"  placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry2_priority">{{"Priority"|trans}}</label>
                    <input value="" name="entries['second']['priority']" id="entry2_priority"   type="text" class="form-control"   placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry2_percent">{{"Percentage (%)"|trans}}</label>
                    <input name="entries['second']['percent']" id="entry2_percent"   type="text" class="form-control" id="entry1_percent"  placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry2_temperature">{{"Heat alarm (C)"|trans}}</label>
                    <input name="entries['second']['temperature']" id="entry2_temperature"   type="text" class="form-control" id="entry1_temperature"  placeholder="25">
                  </div>
                  <p></p>
                  
                  <h4>{{"Third Entry"|trans}}</h4>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry3_name">{{"Name"|trans}}</label>
                    <input name="entries['third']['name']" id="entry3_name"   type="text" class="form-control" id="entry1_name"  placeholder="Entry3">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry3_kw">{{"Power"|trans}} (Kw)</label>
                    <input name="entries['third']['kw']" id="entry3_kw"   type="text" class="form-control" id="entry1_kw"  placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry3_priority">{{"Priority"|trans}}</label>
                    <input value="" name="entries['third']['priority']" id="entry3_priority"   type="text" class="form-control"   placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry3_percent">{{"Percentage (%)"|trans}}</label>
                    <input name="entries['third']['percent']" id="entry3_percent"   type="text" class="form-control" id="entry1_percent"  placeholder="">
                  </div>
                  <p></p>
                  <div class="form-group">
                    <label style="min-width:200px;" for="entry3_temperature">{{"Heat alarm (C)"|trans}}</label>
                    <input  name="entries['third']['temperature']" id="entry3_temperature"   type="text" class="form-control" id="entry1_temperature"  placeholder="25">
                  </div>
                  <p></p>
                
                  
              </div> 
              
              
              
              
              
              
            
           
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="{{"Submit"|trans}}"/>
          </form>
          
          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}




{% block javascripts %}
{{parent()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>

<script>
function addAddress(){
        var address_item    = $("#address_item").val();
        var address         = new Array();
        var address_list    = $("#address").val();
        
        if (address_item.length == 0){
            return 0;
        }
        
        if (address_list.length > 0){
            address = eval(address_list);
        }
        
        //ADD ADDRESS TO THE LIST
        address.push(address_item);
        
        //SAVE LIST IN  THE INPUT
        $("#address").val(JSON.stringify(address));
        
        //REBUILD THE LIST
        rebuildAddress();
        
        //REMOVE ADDRESS TEXT
        $("#address_item").val("");
        
    }
    
    function deleteAddress(id){
        
        var address_list    = $("#address").val();
        var address = eval(address_list);
        
        //SUPPRIME THE ITEM FROM THE LIST
        address.splice(id, 1);
        
        //SAVE THE LIST WITHOUT THE ITEM
        $("#address").val(JSON.stringify(address));
        
        //REBUILD THE LIST
        rebuildAddress();
        
    }
    
    function rebuildAddress(){
         var address         = eval($("#address").val());
         var id_item         = 0;

        
         $("#address_list").html("");
         address.forEach(function(item) {
             $("#address_list").append('<a onclick="deleteAddress('+id_item+');" href="javascript:void(0);" class="list-group-item">'+item+'<span class=" pull-right glyphicon glyphicon-minus"></span></a>');
             id_item++;
        //console.log(item);
        });
    }
        
    
</script>    



<script>
    function addContact(){
        var contact_item    = $("#contact_item").val();
        var contact         = new Array();
        var contact_list    = $("#contact").val();
        
        if (contact_item.length == 0){
            return 0;
        }
        
        if (contact_list.length > 0){
            contact = eval(contact_list);
        }
        
        //ADD CONTACT TO THE LIST
        contact.push(contact_item);
        
        //SAVE LIST IN  THE INPUT
        $("#contact").val(JSON.stringify(contact));
        
        //REBUILD THE LIST
        rebuildContact();
        
        //REMOVE CONTACT TEXT
        $("#contact_item").val("");
        
    }
    
    function deleteContact(id){
        
        var contact_list    = $("#contact").val();
        var contacts = eval(contact_list);
        
        //SUPPRIME THE ITEM FROM THE LIST
        contacts.splice(id, 1);
        
        //SAVE THE LIST WITHOUT THE ITEM
        $("#contact").val(JSON.stringify(contacts));
        
        //REBUILD THE LIST
        rebuildContact();
        
    }
    
    function rebuildContact(){
         var contact         = eval($("#contact").val());
         var id_item         = 0;

        
         $("#contact_list").html("");
         contact.forEach(function(item) {
             $("#contact_list").append('<a onclick="deleteContact('+id_item+');" href="javascript:void(0);" class="list-group-item">'+item+'<span class=" pull-right glyphicon glyphicon-minus"></span></a>');
             id_item++;
        //console.log(item);
        });
    }
    
    
    
</script>    

{% endblock %}


