{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
        {% include 'sidebar_clients_v2.html.twig' %}
    
    
    
    {% include 'clients_breadcrumb.html.twig' with {'client_id': client.id}%}
    <div class=" col-md-9 main">
           
        
          <h1 class="page-header">{{"Alarms"|trans}}</h1>
          
          
          
          <p></p>
          
          {% if alarms|length == 0%}
              <div class="alert alert-success" role="alert">
                  <span id="alarm_list">
                    {{"0 Alarms in the system!"|trans}}
                  </span>
              </div>
              
          {%else%}    
          
          <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                <tr>
                   <th style="width:20%;">{{"Date"|trans}}</th>
                   <th style="width:80%;">{{"Event"|trans}}</th>
                   
                </tr>
               </thead>  
            <tbody>
                
                
            {% for alarm in alarms %}
                    
                        <tr style="cursor:pointer;" >

                        <td>{{alarm.datetime}}</td>
                        <td>{{alarm.event}}</td>
                        
                      </tr>
                    
            {% endfor %}    
              
            
            
            </tbody>  
            </table>
            
            
          </div>
          {%endif%}
            
            {%if role == "ROLE_ADMIN"%}
                <p><a class="btn btn-primary btn-lg pull-right" href="{{path("_clients_alarms_reset", { 'client_id': client.id })}}" role="button">{{"Reset"|trans}}</a></p>
            {%endif%}
          
          
          
          
          
          
          
          
          
          
          

          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}
