{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
{#        {% include 'sidebar_clients.html.twig' %}#}
    
    
    
    {% include 'clients_breadcrumb_reduced.html.twig'%}
    <div class="col-md-12  main">
          <h1 class="page-header">{{"Clients"|trans}}</h1>
          
          <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                <tr>
                   <th style="width:7%;">{{"Id"|trans}}</th>
                   <th style="width:17%;">{{"Logo"|trans}}</th>
                   <th style="width:44%;">{{"Name"|trans}}</th>
                   <th style="width:32%;"></th>
                </tr>
               </thead>  
            <tbody>
                
                
            {% for client in clients_list %}
                    
                        <tr style="cursor:pointer;"   onclick="document.location = '{{path("_clients_board", { 'client_id': client.id })}}';">

                        <td>{{client.id}}</td>
                        <td><img width="100" src="{{asset('upload/')}}{{client.getLogoUrl()}}" alt="logo"/></td>
                        <td>{{client.name}}</td>
                        <td>
                            
                            
                            {%if role == "ROLE_ADMIN"%}   
                                    <a href='{{path("_clients_edit", { 'client_id': client.id })}}'><!--edit--><span  data-toggle="tooltip" data-placement="top" title="{{"Edit"|trans}}" class="glyphicon glyphicon-pencil"></span></a>       
                                    <a href="{{path("_clients_presets", { 'client_id': client.id })}}"><!--presets--><span data-toggle="tooltip" data-placement="top" title="{{"Presets"|trans}}" class="glyphicon glyphicon-off"></span></a>
                                    <a href="{{path("_clients_bills", { 'client_id': client.id })}}"><!--factures--><span data-toggle="tooltip" data-placement="top" title="{{"Bills"|trans}}" class="glyphicon glyphicon-book"></span></a>
                                    <a href="{{path("_active_power_presets", { 'client_id': client.id })}}"><!--active power preset--><span data-toggle="tooltip" data-placement="top" title="{{"Total Power presets"|trans}}" class="glyphicon glyphicon-certificate"></span></a>
                                    <a href="{{path("_clients_delete", { 'client_id': client.id })}}"><span data-toggle="tooltip" data-placement="top" title="{{"Delete"|trans}}" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            {%endif%}
                            
                            
                            <a href="{{path("_clients_board", { 'client_id': client.id })}}"><span data-toggle="tooltip" data-placement="top" title="{{"Board"|trans}}" class="glyphicon glyphicon-blackboard"></span></a>
                            <a href="{{path("_clients_chart", { 'client_id': client.id })}}"><span data-toggle="tooltip" data-placement="top" title="{{"Chart"|trans}}" class="glyphicon glyphicon-equalizer"></span></a>    
                            <a href="{{path("_clients_alarms", { 'client_id': client.id })}}"><!--alarms--><span data-toggle="tooltip" data-placement="top" title="{{"Alarms"|trans}}" class="glyphicon glyphicon-bell"></span></a>
                            
                            
                        </td>
                      </tr>
                    
            {% endfor %}    
              
            
            
            </tbody>  
            </table>
            {%if role == "ROLE_ADMIN"%}
                <p><a class="btn btn-primary btn-lg pull-right" href="{{path("_clients_create")}}" role="button">{{"Add new client"|trans}}</a></p>
            {%endif%}
            
          </div>
          
          
          
          
          
          
          
          
          
          
          
          

          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}
