{%set route = app.request.get('_route') %}


<ol class="breadcrumb">
  {#<li><a href="{{path('_clients')}}">{{"List"|trans}}</a></li>#}
  
  
  
  {%if app.session.get('role') == "ROLE_ADMIN"%}
  
        {% if route=="_users" %}
            <li>{{"Users"|trans}}</li>
        {% else %}
            <li><a href="{{path("_users")}}">{{"Users"|trans}}</a></li>
        {% endif %}
   
   {%endif%}
        
   
   {% if route=="_clients" %}
            <li>{{"Clients"|trans}}</li>
        {% else %}
            <li><a href="{{path("_clients")}}">{{"Clients"|trans}}</a></li>
        {% endif %}
  
  
  {%if app.session.get('role') == "ROLE_ADMIN"%}
  
        {% if route=="_clients_edit" %}
            <li>{{"Edit"|trans}}</li>
        {% else %}
            <li><a href="{{path("_clients_edit", { 'client_id': client_id })}}">{{"Edit"|trans}}</a></li>
        {% endif %}
   
   {%endif%}
   
   {% if route=="_clients_board" %}
       <li>{{"Board"|trans}}</li>
   {% else %}
       <li><a href="{{path("_clients_board", { 'client_id': client_id })}}">{{"Board"|trans}}</a></li>
   {% endif %}

  
   
   {% if route=="_clients_chart" %}
       <li>{{"Chart"|trans}}</li>
   {% else %}
       <li><a href="{{path("_clients_chart", { 'client_id': client_id })}}">{{"Chart"|trans}}</a></li>
   {% endif %}
   
   
   
   {% if route=="_clients_alarms" %}
        <li>{{"Alarms"|trans}}</li>
    {% else %}
        <li><a href="{{path("_clients_alarms", { 'client_id': client_id })}}">{{"Alarms"|trans}}</a></li>
    {% endif %}
   
   
   {%if app.session.get('role') == "ROLE_ADMIN"%}
   

            {% if route=="_clients_presets" %}
                <li>{{"Presets"|trans}}</li>
            {% else %}
                <li><a href="{{path("_clients_presets", { 'client_id': client_id })}}">{{"Presets"|trans}}</a></li>
            {% endif %}



            {% if route=="_clients_bills" %}
                <li>{{"Bills"|trans}}</li>
            {% else %}
                <li><a href="{{path("_clients_bills", { 'client_id': client_id })}}">{{"Bills"|trans}}</a></li>
            {% endif %}

            {% if route=="_active_power_presets" %}
                <li>{{"Total Power presets"|trans}}</li>
            {% else %}
                <li><a href="{{path("_active_power_presets", { 'client_id': client_id })}}">{{"Total Power presets"|trans}}</a></li>
            {% endif %}
   
  
   {%endif%}
   
</ol>