{%set route = app.request.get('_route') %}


<ol class="breadcrumb">
  {#<li><a href="{{path('_clients')}}">{{"List"|trans}}</a></li>#}
  
  
  
  {%if app.session.get('role') == "ROLE_ADMIN"%}
  
        {% if route=="_users" %}
            <li>{{"Users"|trans}}</li>
        {% else %}
            <li><a href="{{path("_users")}}">{{"Users"|trans}}</a></li>
        {% endif %}
   
   {%endif%}
        
   
   {% if route=="_clients" %}
            <li>{{"Clients"|trans}}</li>
        {% else %}
            <li><a href="{{path("_clients")}}">{{"Clients"|trans}}</a></li>
        {% endif %}
  
  
   
</ol>