<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}IMDC 1.0{% endblock %}</title>
        
        {% block stylesheets %}
                <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                <link href="{{asset('libs/bootstrap-3.3.5/dist/css/bootstrap.min.css')}}" rel="stylesheet">
                <link href="{{asset('libs/bootstrap-3.3.5/docs/examples/dashboard/dashboard.css')}}" rel="stylesheet">
                <link rel="stylesheet" href="{{asset('css/recast.css')}}">
        {% endblock %}
        
        
    </head>
    <body  id="{{ app.request.attributes.get('_route')}}">
        
     {# language#}
    {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
    {% set frParams = params|merge({'_locale': 'fr'}) %}
    {% set enParams = params|merge({'_locale': 'en'}) %}
    {% set itParams = params|merge({'_locale': 'it'}) %}   
        
        
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">&nbsp;</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="topbar_imdc"  href="{{path("_root")}}"><span id="topbar_imdc">IMDC 1.0 </span>by</a>
          <a id="topbar_logo"  target="_blank" href="http://powerquebec.ca"><img src="{{asset('img/logo.png')}}" alt=""/></a>
        
        
        
        
        </div>
        <div id="navbar" >
          <ul class="nav navbar-nav navbar-right">
           
              
            
              <li id="logout">
                  
                    {%if app.request.attributes.get('_route') == "_login"%}
                
               
                    {%else%}
                        <a href="{{path('_login')}}">
                         <span>{{"Sign out"|trans}}</span>
                         <img src="{{asset('img/logout.png')}}" alt="logout" />
                        </a>    
                    {%endif%}
                  
                   
              </li>
            
              
              
            <li id="langues">
                        
                    <span><a {%if app.request.locale == "fr"%} class="active" {%endif%} href="{{ path(app.request.attributes.get('_route'), frParams) }}">FR</a>|</span>
                    <span><a {%if app.request.locale == "en"%} class="active" {%endif%} href="{{ path(app.request.attributes.get('_route'), enParams) }}">EN</a>|</span>
                    <span><a {%if app.request.locale == "it"%} class="active" {%endif%} href="{{ path(app.request.attributes.get('_route'), itParams) }}">IT</a></span>
                  
              </li>  
              
            <li></li>
            
            
            <li>
                                     
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

        
    {% block content %}      {% endblock %}     
    
    {% block body %}{% endblock %}
        
        
        {% block javascripts %}
                <script src="{{asset('libs/jQuery/jQuery-2.1.4.min.js')}}"></script>
                
                
                <script src="{{asset('libs/bootstrap-3.3.5/dist/js/bootstrap.min.js')}}"></script>
                <script src="{{asset('libs/bootstrap-3.3.5/docs/assets/js/vendor/holder.min.js')}}"></script>
               
        {% endblock %}
    </body>
</html>
