{% extends 'imdc.html.twig' %}

{% block title %}  IMDC 1.0    {% endblock %}

{% block content %}  
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="#">{{"Users"|trans}}</a></li>
            <li><a href="#">{{"Clients"|trans}}</a></li>
            <li class="active"><a href="{{path('sample')}}">{{"Demo"|trans}}</a></li>
          </ul>
            
          <div class="dropdown">
              <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{"current_language"|trans}}
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dLabel">
                {%if app.request.locale == "en"%}
                <li><a href="{{ path(app.request.attributes.get('_route'), frParams) }}">French</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), itParams) }}">Italien</a></li>
               {%elseif app.request.locale == "fr"%}
                <li><a href="{{ path(app.request.attributes.get('_route'), enParams) }}">English</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), itParams) }}">Italien</a></li>
               {%else%}
                <li><a href="{{ path(app.request.attributes.get('_route'), enParams) }}">English</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), frParams) }}">French</a></li>
               {%endif%}
              </ul>
            </div>  

            
         
         
        </div>
    
    
    
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
         {% block content %}    

          {% endblock %}    
        
    </div>
    </div> 
</div> 


{% endblock %}




