{% set role = app.session.get('role') %}

        <div class="col-md-2 sidebar">
            
           
             
            <ul class="nav nav-sidebar">
            
            {% if role=="ROLE_ADMIN" %}
                <li ><a href="{{path('_users')}}">{{"Users"|trans}}</a></li>
            {% endif %}  
            
            {% if role=="ROLE_ADMIN" or role=="ROLE_CLIENT" %}
                <li style="/*display:none;*/" class="active"><a href="{{path('_clients')}}">{{"Clients"|trans}}</a></li>
            {% endif %}      
                
          </ul>
            
          {#<div class="dropdown">
              <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{"current_language"|trans}}
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dLabel">
                {%if app.request.locale == "en"%}
                <li><a href="{{ path(app.request.attributes.get('_route'), frParams) }}">French</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), itParams) }}">Italien</a></li>
               {%elseif app.request.locale == "fr"%}
                <li><a href="{{ path(app.request.attributes.get('_route'), enParams) }}">English</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), itParams) }}">Italien</a></li>
               {%else%}
                <li><a href="{{ path(app.request.attributes.get('_route'), enParams) }}">English</a></li>
                <li><a href="{{ path(app.request.attributes.get('_route'), frParams) }}">French</a></li>
               {%endif%}
              </ul>
            </div>  #}
            
         
         
        </div>
    
    
    
    