{% set role = app.session.get('role') %}

        <div class="col-md-3 _sidebar">
            
           
            
            
         <div class="col-md-12"><!-- CLIENT INFO-->
             
            <img class='img-responsive center-block' id="client_logo"  style='max-height: 200px;' src="{{asset('upload/')}}{{client.getLogoUrl()}}" alt="logo"/>
            {#<img id="client_logo"  style='max-height: 200px;' src="https://image.freepik.com/free-vector/logo-sample-text_355-558.jpg" class='img-responsive center-block' alt='logo' />#}
            
            <h2 id="client_name" class='text-center'>{{client.name}}</h2>
            
            <h5 class='text-center' id="client_address">
                {% for address in addresses%}
                    {{address}} <br/>
                {% endfor %}
            </h5>
            
            <h6 class='text-center' id="client_contact">
                {% for contact in contacts%}
                    {{contact}} <br/>
                {% endfor %}
            </h6>
        </div>   
            
        <br>    
         
            
        <div class="col-md-12 billing"><!-- Facturation-->
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title ">{{"Billing"|trans}} - Mai 2015</h3>
                  </div>
                  <div class="panel-body">
                    <span class="label label-info">5748.50$</span>
                    <span class="label label-info">400kWh</span>
                    <span class="label label-info">14139.99$</span>
                    <span class="label label-info">300851kW</span>
                    <span class="label label-info">19888.48$</span>
                  </div>
                
            </div>
            
        </div>     
            
            
         <div class="col-md-12 forecast"><!-- Prevision-->
             <div class="panel panel-success">
                 <div class="panel-heading">
                    <h3 class="panel-title">{{"Forecast"|trans}} - Mai 2016</h3>
                  </div>
                  <div class="panel-body">
                    <span class="label label-info">5029.50$</span>
                     <span class="label label-info">350kWh</span>
                     <span class="label label-info">12259.99$</span>
                     <span class="label label-info">260851kW</span>
                     <span class="label label-info">17289.50$</span>
                  </div>
                 
                 
             </div>
            
        </div>        
            
           
                  
        <div class="col-md-12 video">
            
            
            <div class="panel panel-info">
                 <div class="panel-heading">
                    <h3 class="panel-title">{{"Video"|trans}}</h3>
                  </div>
                  <div class="panel-body">
                    <iframe width="100%" src="https://www.youtube.com/embed/VYMjSule0Bw" frameborder="0" allowfullscreen></iframe>
                  </div>
                 
                 
             </div>
            
        
        </div>    
                
            
         
         
        </div>
    
    
    
    