{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
{#        {% include 'sidebar_users.html.twig' %}#}
    
    
    
    {% include 'clients_breadcrumb_reduced.html.twig'%}
    <div class="col-md-12 main">
          <h1 class="page-header">{{"Users"|trans}}</h1>
          
          <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                <tr>
                   <th>{{"Id"|trans}}</th>
                   <th>{{"Fullname"|trans}}</th>
                   <th>{{"Email"|trans}}</th>
                   <th>{{"Role"|trans}}</th>
                   <th></th>
                </tr>
               </thead>  
            <tbody>
                
                
            {% for user in users_list %}
                    
                        <tr style="cursor:pointer;" onclick="document.location = '{{path("_users_edit", { 'user_id': user.id })}}';">

                        <td>{{user.id}}</td>
                        <td>{{user.fullname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td><a href="{{path("_users_delete", { 'user_id': user.id })}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                      </tr>
                    
            {% endfor %}    
              
            
            
            </tbody>  
            </table>
            
            <p><a class="btn btn-primary btn-lg pull-right" href="{{path("_users_create")}}" role="button">{{"New User"|trans}}</a></p>
   
            
          </div>
          
          
          
          
          
          
          
          
          
          
          
          

          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
    
{% endblock %}
