{% extends 'imdc.html.twig' %}

{% block content %}
    
     
    
     <div class="container-fluid">
      <div class="row">
{#        {% include 'sidebar_users.html.twig' %}#}
    
    
    
    {% include 'clients_breadcrumb_reduced.html.twig'%}
    <div class="col-md-12 main">
          <h1 class="page-header">{{"Users"|trans}}</h1>
          
          <form  action="{{path('_users_create')}}" method="POST">
            <div class="form-group">
              <label for="fullname">{{"Fullname"|trans}}</label>
              <input name="fullname" data-validation="required" type="text" class="form-control" id="fullname" placeholder="{{"Fullname"|trans}}"  data-validation-error-msg="{{"You have not answered all required fields"|trans}}">
            </div>
            
            <div class="form-group">
              <label for="email">{{"Email"|trans}}</label>
              <input name="email" data-validation="email" type="email" class="form-control" id="email" placeholder="{{"Email"|trans}}" data-validation-error-msg="{{"You have not given a correct e-mail address"|trans}}">
            </div>
              
              
            <div class="form-group">
              <label for="password">{{"Password"|trans}}</label>
              <input name="password" data-validation="required" type="password" class="form-control" id="password" placeholder="{{"Password"|trans}}"  data-validation-error-msg="{{"You have not answered all required fields"|trans}}">
            </div>
  
              
              
              
            <div class="form-group">
              <label for="address">{{"Address"|trans}}</label>
              <input name="address" type="text" class="form-control" id="address" placeholder="{{"Address"|trans}}">
            </div>
              
              
            <div class="form-group">
              <label for="phone">{{"Phone"|trans}}</label>
              <input name="phone" type="text" class="form-control" id="phone" placeholder="{{"Phone"|trans}}">
            </div>
              
            
            
            <div class="form-group">
              <label for="role">{{"Role"|trans}}</label>
              <select name="role" id="role" class="form-control" >
                  <option value="ROLE_ADMIN">{{"Admin"|trans}}</option>
                  <option value="ROLE_CLIENT">{{"Client"|trans}}</option>
                  <option value="ROLE_GUEST">{{"Guest"|trans}}</option>
                  
              </select>
              
            </div>
            
                  
                  
            <div class="form-group" id="role_client" style="display:none;">
              <label for="clients">{{"Clients"|trans}}</label>
               <select multiple="multiple" name="clients[]" id="clients" style="width:250px;" >
                    {% for client in clients_list %}
                        <option value="{{client.id}}">{{client.name}}</option>
                    {% endfor %} 
                   
                </select>
                
              
            </div>      
                  
                  
            
            
            
            
            
           
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="{{"Submit"|trans}}"/>
          </form>
          
          

          
        </div>
          
          
     </div>
    </div>      
          
          
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('libs/multipleselect/multiple-select.css')}}">    
{% endblock %}




{% block javascripts %}
{{parent()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
<script> $.validate(); </script>
<script src="{{asset('libs/multipleselect/multiple-select.js')}}"></script> 
<script>
    $('#role_client select').multipleSelect();

    //$("select").multipleSelect("getSelects"); //values
    //$("select").multipleSelect("getSelects", "text");//text

    $('select#role').on("change",function(){
        var option = $("select#role  option:selected").val();
        if (option == "ROLE_CLIENT"){
                    $('#role_client').show();
        }else       $('#role_client').hide();
        
    });
</script>
{% endblock %}


